{{xlsxRemove "xl/workbook.xml" "workbook.sheets[0].sheet" 0}} 
{{setVar "maxPerformancesColWidth" (min 10 (max 10 10))}} 
{{setVar "defaultRowHeight" 16}} 
{{#xlsxReplace "xl/worksheets/sheet2.xml"}}
<worksheet xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main" xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:x14="http://schemas.microsoft.com/office/spreadsheetml/2009/9/main"
    xmlns:xdr="http://schemas.openxmlformats.org/drawingml/2006/spreadsheetDrawing">
    <sheetPr filterMode="false">
        <pageSetUpPr fitToPage="true" />
    </sheetPr>
    <dimension ref="A1:I1000" />
    <sheetViews>
        <sheetView showFormulas="false" showGridLines="true" showRowColHeaders="true" showZeros="true" rightToLeft="false" tabSelected="true" showOutlineSymbols="true" defaultGridColor="true" view="pageBreakPreview" topLeftCell="A1" colorId="64" zoomScale="100"
            zoomScaleNormal="100" zoomScalePageLayoutView="100" workbookViewId="0" />
    </sheetViews>
    <sheetFormatPr defaultColWidth="15" defaultRowHeight="{{defaultRowHeight}}" customHeight="1" zeroHeight="0" outlineLevelRow="0" outlineLevelCol="0" />
    <cols>
        <col collapsed="0" bestFit="1" customWidth="1" hidden="0" outlineLevel="0" min="1" max="1" width="9" />
        <col collapsed="0" bestFit="1" customWidth="1" hidden="0" outlineLevel="0" min="2" max="2" width="{{columns.name.maxLength}}" />
        <col collapsed="0" bestFit="1" customWidth="1" hidden="{{#xif "hiddenColumns.includes('yearCategory')"}}1{{else}}0{{/xif}}" outlineLevel="0" min="3" max="3" width="6" />
        <col collapsed="0" bestFit="1" customWidth="1" hidden="{{#xif "hiddenColumns.includes('region')"}}1{{else}}0{{/xif}}" outlineLevel="0" min="4" max="4" width="10" />
        <col collapsed="0" bestFit="1" customWidth="1" hidden="{{#xif "hiddenColumns.includes('city')"}}1{{else}}0{{/xif}}" outlineLevel="0" min="5" max="5" width="{{columns.region.maxLength}}" />
        <col collapsed="0" bestFit="1" customWidth="1" hidden="{{#xif "hiddenColumns.includes('club')"}}1{{else}}0{{/xif}}" outlineLevel="0" min="6" max="6" width="{{columns.city.maxLength}}" />
        <col collapsed="0" bestFit="1" customWidth="1" hidden="{{#xif "hiddenColumns.includes('trainers')"}}1{{else}}0{{/xif}}" outlineLevel="0" min="6" max="6" width="{{columns.club.maxLength}}" />
        <col collapsed="0" bestFit="1" customWidth="1" hidden="0" outlineLevel="0" min="7" max="13" width="{{maxPerformancesColWidth}}" />
    </cols>
    <sheetData>
        <row ht="42" customHeight="1">
            <c r="A1" t="inlineStr" s="1">
                <is>
                    <t>{{competitionLabel}}</t>
                </is>
            </c>
        </row>
        <row ht="34" customHeight="1">
            <c r="A2" t="inlineStr" s="2">
                <is>
                    <t>{{locationLabel}}</t>
                </is>
            </c>
            <c r="F2" t="inlineStr" s="3">
                <is>
                    <t>{{dateLabel}}</t>
                </is>
            </c>
        </row>
        <row ht="32" customHeight="1">
            <c t="inlineStr" s="1">
                <is>
                    <t>{{startListLabel}}</t>
                </is>
            </c>
        </row>
    </sheetData>
    <mergeCells count="4">
        <mergeCell ref="{{mergeCellRange "A1" 7 (math rowPerformancesMaxCount "-" 1) "1"}}" />
        <mergeCell ref="{{mergeCellRange "A2" 4 0 "2"}}" />
        <mergeCell ref="{{mergeCellRange "F2" 7 (math rowPerformancesMaxCount "-" 1) "2"}}" />
        <mergeCell ref="{{mergeCellRange "A3" 7 (math rowPerformancesMaxCount "-" 1) "3"}}" />
        {{#each rotations}}
        <mergeCell ref="{{getMergeCellRangeForRotationAt "A" 4 ../rotations @index}}" />

        {{/each}}
    </mergeCells>
    <printOptions headings="false" gridLines="false" gridLinesSet="true" horizontalCentered="true" verticalCentered="false" />
    <pageMargins left="0.25" right="0.25" top="0.75" bottom="{{#if isFooter}}0.9{{else}}0.5{{/if}}" header="0.5" footer="0.35" />
    <pageSetup paperSize="9" scale="100" firstPageNumber="0" fitToWidth="1" fitToHeight="0" pageOrder="downThenOver" orientation="portrait" blackAndWhite="false" draft="false" cellComments="none" useFirstPageNumber="false" horizontalDpi="300" verticalDpi="300"
        copies="1" />
    <headerFooter differentFirst="false" differentOddEven="false">
        <oddHeader>{{startListLabel}} стр. &amp;P из &amp;N</oddHeader>
        <oddFooter>{{startListLabel}} стр. &amp;P из &amp;N</oddFooter>
    </headerFooter>
</worksheet>
{{/xlsxReplace}} 

{{#xlsxReplace "xl/styles.xml"}}
<styleSheet xmlns="http://schemas.openxmlformats.org/spreadsheetml/2006/main">
    <fonts count="3">
        <font>
            <sz val="12" />
            <name val="Arial" />
            <family val="2" />
            <charset val="204" />
        </font>
        <font>
            <b val="true" />
            <sz val="16" />
            <name val="Arial" />
            <family val="2" />
            <charset val="204" />
        </font>
        <font>
            <b val="true" />
            <sz val="12" />
            <name val="Arial" />
            <family val="2" />
            <charset val="204" />
        </font>
    </fonts>
    <fills count="2">
        <fill>
            <patternFill patternType="none" />
        </fill>
        <fill>
            <patternFill patternType="gray125" />
        </fill>
    </fills>
    <borders count="2">
        <border>
            <left />
            <right />
            <top />
            <bottom />
            <diagonal />
        </border>
        <border>
            <left style="thin">
                <color auto="1" />
            </left>
            <right style="thin">
                <color auto="1" />
            </right>
            <top style="thin">
                <color auto="1" />
            </top>
            <bottom style="thin">
                <color auto="1" />
            </bottom>
            <diagonal />
        </border>
    </borders>
    <cellStyleXfs count="1">
        <xf numFmtId="0" fontId="0" fillId="0" borderId="0" />
    </cellStyleXfs>
    <cellXfs>
        <xf numFmtId="0" fontId="0" fillId="0" borderId="0" xfId="0" wrapText="1" />
        <xf fontId="1">
            <alignment horizontal="center" vertical="center" wrapText="1" />
        </xf>
        <xf fontId="1" applyAlignment="1">
            <alignment horizontal="left" vertical="center" wrapText="1" />
        </xf>
        <xf fontId="1" applyAlignment="1">
            <alignment horizontal="right" vertical="center" wrapText="1" />
        </xf>
        <xf fontId="1" borderId="1">
            <alignment horizontal="center" vertical="center" wrapText="1" />
        </xf>
        <xf borderId="1">
            <alignment horizontal="center" vertical="top" wrapText="1" />
        </xf>
        <xf borderId="1" applyAlignment="1">
            <alignment horizontal="left" vertical="top" wrapText="1" />
        </xf>
        <xf borderId="1" numFmtId="2">
            <alignment horizontal="right" vertical="top" wrapText="1" />
        </xf>
        <xf borderId="1" fontId="2">
            <alignment horizontal="center" vertical="center" wrapText="1" />
        </xf>
        <xf applyAlignment="1">
            <alignment horizontal="left" />
        </xf>
        <xf applyAlignment="1">
            <alignment horizontal="right" />
        </xf>
    </cellXfs>
    <cellStyles count="1">
        <cellStyle name="Обычный" xfId="0" builtinId="0" />
    </cellStyles>
    <dxfs count="0" />
    <tableStyles count="0" defaultTableStyle="TableStyleMedium2" defaultPivotStyle="PivotStyleLight16" />
</styleSheet>
{{/xlsxReplace}} 
{{#xlsxAdd "[Content_Types].xml" "Types.Override"}}
<Override PartName="/xl/worksheets/sheet2.xml" ContentType="application/vnd.openxmlformats-officedocument.spreadsheetml.worksheet+xml" /> 
{{/xlsxAdd}} 
{{#xlsxAdd "xl/workbook.xml" "workbook.sheets[0].sheet"}}
<sheet name="Стартовый" sheetId="2" r:id="sheet2" /> 
{{/xlsxAdd}} 
{{#xlsxAdd "xl/_rels/workbook.xml.rels" "Relationships.Relationship"}}
<Relationship Id="sheet2" Type="http://schemas.openxmlformats.org/officeDocument/2006/relationships/worksheet" Target="worksheets/sheet2.xml" /> 
{{/xlsxAdd}} 
{{!-- {{log "xl/worksheets/sheet2.xml"}} --}} 
{{#each rotations}} 
{{#xlsxAdd "xl/worksheets/sheet2.xml" "worksheet.sheetData[0].row"}} 
<row>
</row>
{{/xlsxAdd}} 
{{#xlsxAdd "xl/worksheets/sheet2.xml" "worksheet.sheetData[0].row"}} 
<row>
    <c t="inlineStr" s="2">
        <is>
            <t>{{name}}</t>
        </is>
    </c>
</row>
{{/xlsxAdd}} 

{{#each rows}} 
{{#xlsxAdd "xl/worksheets/sheet2.xml" "worksheet.sheetData[0].row"}} 
<row>
    <c t="inlineStr" s="5">
        <is>
            <t>{{math @index 1}}</t>
        </is>
    </c>
    <c t="inlineStr" s="6">
        <is>
            <t>{{formatParticipant participant}}</t>
        </is>
    </c>
    <c t="inlineStr" s="5">
        <is>
            <t>{{#compare participant.category.type "===" "GROUP"}}{{participant.category.name}}{{else}}{{participant.year}}{{/compare}}</t>
        </is>
    </c>
    <c t="inlineStr" s="5">
        <is>
            <t>{{participant.region.name}}</t>
        </is>
    </c>
    <c t="inlineStr" s="6">
        <is>
            <t>{{participant.city.name}}</t>
        </is>
    </c>
    <c t="inlineStr" s="6">
        <is>
            <t>{{participant.club}}</t>
        </is>
    </c>
    <c t="inlineStr" s="6">
        <is>
            <t>{{participant.trainers}}</t>
        </is>
    </c>
    {{#each performances}}
    <c t="inlineStr" s="7">
        <is>
            <t>{{#xif . }}{{kind.name}}{{/xif}}</t>
        </is>
    </c>
    {{/each}}
</row>
{{/xlsxAdd}} 
{{/each}}
{{/each}} 
{{{xlsxPrint}}}