<template>
  <ApolloMutation
    :mutation="require('src/graphql/mutations/updateEvent.gql')"
    @error="unknownError"
  >
    <template #default="{ mutate, loading: mutationLoading }">
      <event-form
        v-if="isCreateEventDialogOpened"
        :is-open.sync="isCreateEventDialogOpened"
        action="create"
        @done="isCreateEventDialogOpened=false"
      />
      <event-form
        v-if="isUpdateEventDialogOpened"
        :is-open.sync="isUpdateEventDialogOpened"
        action="update"
        :event="selectedEvent"
        @done="isUpdateEventDialogOpened=false"
      />
      <event-form
        v-if="isDeleteEventDialogOpened"
        :is-open.sync="isDeleteEventDialogOpened"
        action="delete"
        :event="selectedEvent"
        @done="isDeleteEventDialogOpened=false"
      />
      <q-table
        :data="events"
        :columns="columns"
        :loading="loading || mutationLoading"
        row-key="id"
        title="Соревнования"
      >
        <template #top>
          <q-btn
            round
            color="primary"
            class="on-left"
            icon="add"
            :disable="loading || mutationLoading"
            @click="isCreateEventDialogOpened=true"
          />
          Соревнования
        </template>
        <template #body="props">
          <q-tr :props="props">
            <q-menu
              touch-position
              context-menu
              auto-close
            >
              <q-list
                dense
                style="min-width: 100px"
              >
                <q-item
                  v-close-popup
                  clickable
                >
                  <q-item-section @click="isCreateEventDialogOpened=true">
                    Создать
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item-label header>
                  {{ props.row.name }}
                </q-item-label>
                <q-item
                  v-close-popup
                  clickable
                >
                  <q-item-section @click="isUpdateEventDialogOpened=true; selectedEvent=props.row">
                    Изменить
                  </q-item-section>
                </q-item>
                <q-item
                  v-close-popup
                  clickable
                >
                  <q-item-section @click="isDeleteEventDialogOpened=true; selectedEvent=props.row">
                    Удалить
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  v-close-popup
                  clickable
                >
                  <q-item-section>Отмена</q-item-section>
                </q-item>
              </q-list>
            </q-menu>
            <q-td
              key="name"
              :props="props"
            >
              {{ props.row.name }}
              <q-popup-edit
                v-model="tempEvent.name"
                title="Изменить имя"
                buttons
                label-set="Ок"
                label-cancel="Отмена"
                :disable="mutationLoading"
                @save="mutate({variables:{
                  where:{
                    id:props.row.id
                  },
                  data:{
                    name:{set:tempEvent.name}
                  }
                }})"
                @show="tempEvent.name=props.row.name"
                @hide="tempEvent.name=''"
              >
                <q-input
                  v-model="tempEvent.name"
                  dense
                  autofocus
                />
              </q-popup-edit>
            </q-td>
            <q-td
              key="state"
              :props="props"
            >
              <q-select
                :value="props.row.state"
                :options="eventStates"
                emit-value
                map-options
                @input="value=>mutate({variables:{
                  where:{
                    id:props.row.id
                  },
                  data:{
                    state:{set:value}
                  }
                }})"
              />
            </q-td>
            <q-td
              key="country"
              :props="props"
            >
              <country-select
                :country="props.row.country"
                :countries="allCountries"
                @update:country="country=>mutate({variables:{
                  where:{
                    id:props.row.id
                  },
                  data:{
                    country:{
                      connect: {
                        id: country.id
                      }
                    }
                  }
                }})"
              />
            </q-td>
            <q-td
              key="region"
              :props="props"
            >
              <region-select
                :region="props.row.region"
                :regions="allRegions"
                @update:region="region=>mutate({variables:{
                  where:{
                    id:props.row.id
                  },
                  data:{
                    region:{
                      connect: {
                        id: region.id
                      }
                    }
                  }
                }})"
              />
            </q-td>
            <q-td
              key="city"
              :props="props"
            >
              <city-select
                :city="props.row.city"
                @update:city="city=>mutate({variables:{
                  where:{
                    id:props.row.id
                  },
                  data:{
                    city:{
                      connect: {
                        id: city.id
                      }
                    }
                  }
                }})"
              />
            </q-td>
            <q-td
              key="isSeparateJudges"
              :props="props"
            >
              <q-toggle
                :value="props.row.isSeparateJudges"
                @input="mutate({variables:{
                  where:{
                    id:props.row.id
                  },
                  data:{
                    isSeparateJudges:{set:$event}
                  }
                }})"
              />
            </q-td>
            <q-td
              key="isStartListByCities"
              :props="props"
            >
              <q-toggle
                :value="props.row.isStartListByCities"
                @input="mutate({variables:{
                  where:{
                    id:props.row.id
                  },
                  data:{
                    isStartListByCities:{set:$event}
                  }
                }})"
              />
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </template>
  </ApolloMutation>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import EventFormComponent from 'src/components/events/eventForm'
import ALL_COUNTRIES from 'src/graphql/queries/allCountries.gql'
import ALL_REGIONS from 'src/graphql/queries/allRegions.gql'
import CountrySelectComponent from 'src/components/commons/countrySelect'
import RegionSelectComponent from 'src/components/commons/regionSelect'
import CitySelectComponent from 'src/components/commons/citySelect'
export default {
  // name: 'ComponentName',
  components: {
    EventForm: EventFormComponent,
    CountrySelect: CountrySelectComponent,
    RegionSelect: RegionSelectComponent,
    CitySelect: CitySelectComponent
  },
  apollo: {
    allCountries: {
      query: ALL_COUNTRIES,
      update: data => data.countries
    },
    allRegions: {
      query: ALL_REGIONS,
      update: data => data.regions
    }
  },
  mixins: [unknownError],
  props: {
    events: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      tempEvent: {
        name: ''
      },
      selectedEvent: null,
      isCreateEventDialogOpened: false,
      isUpdateEventDialogOpened: false,
      isDeleteEventDialogOpened: false,
      eventStates: [
        { label: 'Открыто', value: 'OPENED' },
        { label: 'Окончено', value: 'FINISHED' }
      ],
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Название',
          align: 'left',
          field: 'name'
        },
        {
          name: 'state',
          required: true,
          label: 'Состояние',
          align: 'left',
          field: 'state'
        },
        {
          name: 'country',
          required: true,
          label: 'Страна',
          align: 'left',
          field: row => row.country ? row.country.name : '-'
        },
        {
          name: 'region',
          required: true,
          label: 'Субъект РФ',
          align: 'left',
          field: row => row.region ? row.region.name : '-'
        },
        {
          name: 'city',
          required: true,
          label: 'Город',
          align: 'left',
          field: row => row.city ? row.city.name : '-'
        },
        {
          name: 'isSeparateJudges',
          required: true,
          label: 'Независимые планшеты',
          align: 'left',
          field: 'isSeparateJudges'
        },
        {
          name: 'isStartListByCities',
          required: true,
          label: 'Стартовый по городам',
          align: 'left',
          field: 'isStartListByCities'
        }
      ]

    }
  },
  methods: {
    formatEventState (value) {
      return this.eventStates.find(eventState => eventState.value === value)
    }
  }
}
</script>

<style>
</style>
