<template>
  <div class="row">
    <div class="col-12 text-center">
      <div @click="$emit('set', label)">
        {{ label }}
      </div>
    </div>
    <q-btn
      class="col-6"
      size="xs"
      icon="keyboard_arrow_up"
      @click="$emit('prev', label)"
    />
    <q-btn
      class="col-6"
      size="xs"
      icon="keyboard_arrow_down"
      @click="$emit('next', label)"
    />
  </div>
</template>

<script>

export default {
  props: {
    label: {
      type: String,
      default: null
    }
  }

}
</script>

<style scoped>
</style>
