<template>
  <tr>
    <th>
      <!-- # -->
    </th>
    <th>
      <!-- Фио -->
    </th>
    <th>
      <!-- Категория -->
    </th>
    <th>
      <!-- Город -->
    </th>
    <th>
      <!-- Вид -->
      <div
        v-if="!isSeparate"
        class="row"
      >
        <q-btn
          class="col-6"
          icon="keyboard_arrow_up"
          @click="prevPerformanceForAllJudgeSeat"
        />
        <q-btn
          class="col-6"
          icon="keyboard_arrow_down"
          @click="nextPerformanceForAllJudgeSeat"
        />
      </div>
    </th>
    <th class="text-center">
      <judge-seat-control
        v-if="isSeparate"
        label="d1"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th class="text-center">
      <judge-seat-control
        v-if="isSeparate"
        label="d2"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th class="text-center">
      <judge-seat-control
        v-if="isSeparate"
        label="d3"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th class="text-center">
      <judge-seat-control
        v-if="isSeparate"
        label="d4"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th>
      <!-- D -->
    </th>
    <th>
      <judge-seat-control
        v-if="isSeparate"
        label="e1_2"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th>
      <judge-seat-control
        v-if="isSeparate"
        label="e3"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th>
      <judge-seat-control
        v-if="isSeparate"
        label="e4"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th>
      <judge-seat-control
        v-if="isSeparate"
        label="e5"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th>
      <judge-seat-control
        v-if="isSeparate"
        label="e6"
        @set="openDialogSetPerformanceForJudgeSeat"
        @next="nextPerformanceForJudgeSeat"
        @prev="prevPerformanceForJudgeSeat"
      />
    </th>
    <th>
      <!-- E -->
    </th>
    <th>
      <!-- Сбавка -->
    </th>
    <th>
      <!-- Итоговая -->
      <q-btn
        flat
        icon="input"
        @click="$emit('set-judges-dialog')"
      />
    </th>
    <th>
      <!-- Показ -->
    </th>
  </tr>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import NEXT_PERFORMANCE_FOR_JUDGE_SEAT from 'src/graphql/mutations/nextPerformanceForJudgeSeat.gql'
import NEXT_PERFORMANCE_FOR_ALL_JUDGE_SEAT from 'src/graphql/mutations/nextPerformanceForAllJudgeSeat.gql'
import PREV_PERFORMANCE_FOR_JUDGE_SEAT from 'src/graphql/mutations/prevPerformanceForJudgeSeat.gql'
import PREV_PERFORMANCE_FOR_ALL_JUDGE_SEAT from 'src/graphql/mutations/prevPerformanceForAllJudgeSeat.gql'

import JudgeSeatControlComponent from 'src/components/scoring/judgeSeatControl.vue'

export default {
  components: {
    JudgeSeatControl: JudgeSeatControlComponent
  },
  mixins: [unknownError],
  props: {
    dayId: {
      type: Number,
      default: null
    },
    panel: {
      type: String,
      default: 'PANEL_1'
    },
    color: {
      type: String,
      default: 'primary'
    },
    isSeparate: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    async nextPerformanceForJudgeSeat (judgeType) {
      try {
        await this.$apollo.mutate({
          mutation: NEXT_PERFORMANCE_FOR_JUDGE_SEAT,
          variables: { dayId: this.dayId, panel: this.panel, judgeType }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    async nextPerformanceForAllJudgeSeat () {
      try {
        await this.$apollo.mutate({
          mutation: NEXT_PERFORMANCE_FOR_ALL_JUDGE_SEAT,
          variables: { dayId: this.dayId, panel: this.panel }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    async prevPerformanceForJudgeSeat (judgeType) {
      try {
        await this.$apollo.mutate({
          mutation: PREV_PERFORMANCE_FOR_JUDGE_SEAT,
          variables: { dayId: this.dayId, panel: this.panel, judgeType }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    async prevPerformanceForAllJudgeSeat () {
      try {
        await this.$apollo.mutate({
          mutation: PREV_PERFORMANCE_FOR_ALL_JUDGE_SEAT,
          variables: { dayId: this.dayId, panel: this.panel }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },

    openDialogSetPerformanceForJudgeSeat (judgeType) {
      this.$q.dialog({
        title: `Переключить судью ${judgeType}`,
        message: 'на выступление с номером:',
        prompt: {
          type: 'number'
        },
        cancel: true,
        persistent: false
      }).onOk(async mainNumber => {
        this.$emit('set-judges', [judgeType], parseInt(mainNumber))
      })
    }
  }

}
</script>

<style scoped>
</style>
