<template>
  <div
    style="max-width:23rem row"
  >
    <div
      class="col-12 q-pb-md row text-center"
    >
      <div
        class="bg-grey-4 text-h3 text-center col flex justify-center items-center "
        style="height: 6rem"
      >
        {{ newScore }}
      </div>
      <div
        v-if="isSportsmanGroup && isD34 && !(newScore.includes('.') || newScore.length===0)"
        class="bg-white q-pl-md absolute-top-right "
      >
        <div
          class="col row q-mt-md q-mr-md "
          style="height: 6rem;width: 6rem"
        >
          <q-btn
            outline
            :color="mainColor"
            label="."
            stretch
            size="lg"
            class="numpad-btn--point col"
            :disable="newScore.includes('.') || newScore.length===0"
            @click="changeNewScore('.')"
          />
        </div>
      </div>
    </div>
    <q-form
      autocorrect="off"
      autocapitalize="off"
      autocomplete="off"
      spellcheck="false"
      class="col-12"
      @submit="$emit('ok')"
    >
      <table
        separator="cell"
        flat
        bordered
        class="text-center"
        style="margin:auto"
      >
        <tbody>
          <tr>
            <td class="numpad-td">
              <q-btn
                outline
                class="numpad-btn"
                :color="mainColor"
                label="1"
                @click="changeNewScore(1)"
              />
            </td>
            <td class="numpad-td">
              <q-btn
                outline
                class="numpad-btn"
                :color="mainColor"
                label="2"
                @click="changeNewScore(2)"
              />
            </td>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                :color="mainColor"
                label="3"
                @click="changeNewScore(3)"
              />
            </td>
          </tr>
          <tr>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                :color="mainColor"
                label="4"
                @click="changeNewScore(4)"
              />
            </td>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                :color="mainColor"
                label="5"
                @click="changeNewScore(5)"
              />
            </td>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                :color="mainColor"
                label="6"
                @click="changeNewScore(6)"
              />
            </td>
          </tr>
          <tr>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                :color="mainColor"
                label="7"
                @click="changeNewScore(7)"
              />
            </td>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                :color="mainColor"
                label="8"
                @click="changeNewScore(8)"
              />
            </td>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                :color="mainColor"
                label="9"
                @click="changeNewScore(9)"
              />
            </td>
          </tr>
          <tr>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                color="red"
                label="C"
                @click="newScore=''"
              />
            </td>
            <td class="numpad-td">
              <q-btn
                class="numpad-btn"
                outline
                :color="mainColor"
                label="0"
                @click="changeNewScore(0)"
              />
            </td>
            <td
              class="numpad-td"
              colspan="1"
            >
              <q-btn
                :disable="newScore.length===0"
                class="numpad-btn"
                outline
                type="submit"
                :color="mainColor"
                label="OK"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </q-form>
  </div>
</template>

<script>
export default {
  props: {
    performance: {
      type: Object,
      default: () => null
    },
    mainColor: {
      type: String,
      default: 'primary'
    },
    isD34: {
      type: Boolean,
      default: false
    },
    score: {
      type: String,
      default: ''

    }
  },
  data () {
    return {
    }
  },
  computed: {
    isSportsmanGroup () {
      return !!this.performance?.sportsmanGroup
    },
    newScore: {
      get () {
        return this.score
      },
      set (newScore) {
        this.$emit('update:score', newScore)
      }
    }
  },
  methods: {

    changeNewScore (num) {
      if (num === '.') {
        this.newScore += '.'
        return
      }
      // @TODO если ставить 12.5, то не работает из-за строки ниже
      if (this.newScore[this.newScore.length - 1] === '.') {
        this.newScore += `${num}`
        return
      }
      if (this.newScore.includes('.') && this.newScore.length > 2) {
        this.newScore = this.newScore.substring(0, this.newScore.length - 1) + num
        return
      }
      if (this.isSportsmanGroup && this.isD34) { // если можно поставить > 10
        if (this.newScore === '') {
          if (num === 1) {
            this.newScore = '1'
            return
          }
          this.newScore = `${num}.`
          return
        }
        if (this.newScore === '1') {
          this.newScore = `1${num}.`
          return
        }
        if (this.newScore[this.newScore.length - 1] === '.') {
          this.newScore += `${num}`
          return
        }

        if (this.newScore.length === 2 && !this.newScore.includes('.')) {
          this.newScore += `.${num}`
          return
        }
        if (this.newScore.length > 3 && this.newScore.includes('.')) {
          this.newScore = this.newScore.substring(0, this.newScore.length - 1) + num
          return
        }
        this.newScore += `${num}`
      } else {
        if (this.newScore === '') {
          this.newScore = `${num}.`
          return
        }
        if (this.newScore[this.newScore.length - 1] === '.') {
          this.newScore += `${num}`
          return
        }
        this.newScore += `.${num}`
      }
    }
  }
}
</script>

<style>

</style>
