<template>
  <q-dialog
    v-model="isOpen"
    :maximized="$q.platform.is.mobile"
    class="flex flex-center no-margin no-padding"
    @hide="$emit('hide')"
  >
    <q-card
      class="col-auto"
      flat
    >
      <q-card-section>
        <div class="text-h6">
          Изменить оценку {{ scoreType }}
        </div>
        <div>Старая оценка {{ performance.score[scoreTypeData] }}</div>
        <div>Новая оценка {{ newScore }}</div>
      </q-card-section>

      <q-card-section>
        <num-pad
          :performance="performance"
          :is-d34="isD34"
          :score.sync="newScore"
          :main-color="mainColor"
          @ok="ratePerformance"
        />
      </q-card-section>
      <q-card-actions
        vertical
        align="center"
      >
        <q-btn
          v-close-popup
          label="Закрыть"
          stretch
          size="xl"
          :color="mainColor"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import numPadComponent from 'src/components/scoring/numPad.vue'
import RATE_PERFORMANCE from 'src/graphql/mutations/ratePerformance.gql'
export default {
  components: {
    numPad: numPadComponent
  },
  // name: 'ComponentName',
  mixins: [unknownError],
  props: {
    performance: {
      type: Object,
      default: () => null
    },
    scoreType: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      isOpen: true,
      newScore: ''
    }
  },
  computed: {
    mainColor () {
      return this.performance.judgePanel === 'PANEL_2' ? 'secondary' : 'primary'
    },
    isD34 () {
      return this.scoreTypeData === 'd3' || this.scoreTypeData === 'd4'
    },
    scoreTypeData () {
      if (this.scoreType === 'd1_2') { return 'd1' }
      if (this.scoreType === 'd3_4') { return 'd3' }
      return this.scoreType
    }
  },
  methods: {
    changeNewScore (num) {
      if (this.newScore.length > 0) {
        this.newScore = `${Math.trunc(parseFloat(this.newScore))}.${num}`
        return
      }
      this.newScore = `${num}.`
    },
    async ratePerformance () {
      try {
        await this.$apollo.mutate({
          mutation: RATE_PERFORMANCE,
          variables: {
            id: this.performance.id,
            type: this.scoreTypeData,
            point: parseFloat(this.newScore === null ? this.newScore : this.newScore.length > 0 ? this.newScore : '0.0')
          }
        })
        this.isPreSubmit = false
        this.newScore = ''
      } catch (error) {
        this.unknownError(error)
      }
      this.$emit('hide')
    }
  }
}
</script>

<style lang="stylus">
.numpad-td {
  padding: 0 !important;
  text-align: center;
}

.numpad-btn {
  height: 7rem;
  width: 7rem;
  font-size: 3em;
}
</style>
