<template>
  <ApolloQuery
    skip
    :query="require('src/graphql/queries/autocompleteCity.gql')"
    @error="unknownError"
  >
    <template #default="{ result: { data }, query }">
      <ApolloMutation
        :mutation="require('src/graphql/mutations/upsertCity.gql')"
        :update="updateCacheCities"
        fetch-policy="network-only"
        @error="unknownError"
      >
        <template #default="{ mutate}">
          <q-select
            :value="city"
            :label="label"
            class="col-12"
            use-input
            hide-selected
            fill-input
            options-dense
            borderless
            hide-bottom-space
            dense
            :options="data?data.cities:[]"
            option-value="id"
            input-debounce="0"
            :option-label="opt => opt === null ? '- Null -' : opt.name"
            @new-value="(...args)=>upsertValue(...args, data.cities, mutate)"
            @input="value=>$emit('update:city', value)"
            @filter="(...args)=>filterAutocomplete(...args, query)"
            @filter-abort="()=>{return null}"
          >
            <template #no-option>
              <q-item>
                <q-item-section class="text-grey">
                  Город не найден
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </template>
      </ApolloMutation>
    </template>
  </ApolloQuery>
</template>

<script>
import CITY_AUTOCOMPLETE from 'src/graphql/queries/autocompleteCity.gql'
import unknownError from 'src/mixins/unknownError'
import filterAutocomplete from 'src/mixins/filterAutocomplete'
export default {
  mixins: [unknownError, filterAutocomplete],
  props: {
    city: {
      type: Object,
      default: () => null
    },
    label: {
      type: String,
      default: ''
    }
  },
  // name: 'PageName',
  data () {
    return {

    }
  },
  methods: {

    async upsertValue (value, done, values, upsert) {
      if (value.length > 2) {
        if (!values.some(({ name }) => name === value)) {
          this.$q.dialog({
            title: `Создать новый город "${value}"?`,
            cancel: true
          }).onOk(async () => {
            await upsert({ variables: { where: { name: value }, create: { name: value }, update: { name: { set: value } } } })
          })
        }
      }
    },
    getVariables (name = '') {
      return { where: { name: { contains: name, mode: 'insensitive' } } }
    },

    updateCacheCities (store, { data: { upsertOneCity } }) {
      const query = {
        query: CITY_AUTOCOMPLETE,
        variables: this.getVariables(upsertOneCity.name)
      }
      const data = store.readQuery(query)
      data.cities.push(upsertOneCity)
      store.writeQuery({
        ...query,
        data
      })
      this.$emit('update:city', upsertOneCity)
    }
  }
}
</script>

<style>
</style>
