<template>
  <q-select
    :value="currentCategory"
    class="col-12"
    options-dense
    borderless
    hide-bottom-space
    dense
    :options="selectableCategories"
    option-value="id"
    option-label="name"
    map-options
    @input="value=>$emit('update:category', value)"
  />
</template>

<script>
export default {
  props: {
    participant: {
      type: Object,
      default: () => null
    },
    categories: {
      type: Array,
      default: () => []
    },
    isSportsmanGroup: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    selectableCategories () {
      const categoryType = this.isSportsmanGroup ? 'GROUP' : 'INDIVIDUAL'
      return this.categories.filter(category => category.type === categoryType)
    },
    currentCategory () {
      return this.participant?.category
    }
  }
}
</script>

<style>
</style>
