<template>
  <q-page padding>
    <import-form />
  </q-page>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import ImportFormComponent from 'src/components/import/importForm.vue'
export default {
  components: {
    ImportForm: ImportFormComponent
  },
  mixins: [unknownError],
  // name: 'PageName',
  data () {
    return {
    }
  }
}
</script>

<style>
</style>
