<template>
  <q-page padding>
    <ApolloQuery
      :query="require('src/graphql/queries/allEvents.gql')"
      @error="unknownError"
      @result="eventsLoaded"
    >
      <template #default="{ result: { loading, error, data } }">
        <div v-if="error">
          Произошла ошибка {{ error }}
        </div>
        <q-select
          v-else
          v-model="selectedEvent"
          label="Соревнование"
          :loading="loading"
          filled
          :options="data?data.events:[]"
          option-value="id"
          option-label="name"
        />
      </template>
    </ApolloQuery>
    <div class="q-gutter-md">
      <q-radio
        v-model="isSportsmanGroup"
        :val="false"
        label="Инд"
      />
      <q-radio
        v-model="isSportsmanGroup"
        :val="true"
        label="Групп"
      />
    </div>
    <q-input
      v-model="findString"
      label="Поиск"
      debounce="500"
      autofocus
    />
    <ApolloQuery
      :query="require('src/graphql/queries/participantsSearch.gql')"
      :variables="participantsVariables"
      fetch-policy="cache-and-network"
      :skip="findString.length<3"
      @error="unknownError"
    >
      <template #default="{ result: { loading, data } }">
        <sportsmen-groups-table
          :data="data?isSportsmanGroup?data.sportsmanGroups:data.sportsmen:[]"
          :loading="loading"
          selection="none"
          :is-sportsman-groups="isSportsmanGroup"
          :sportsman-columns="sportsmanColumns"
          :sportsman-group-columns="sportsmanGroupColumns"
          :categories="eventCategories"
          is-editable
        />
      </template>
    </ApolloQuery>
  </q-page>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import SportsmenGroupsTableComponent from 'src/components/commons/sportsmenGroupsTable.vue'
import EVENT_CATEGORIES from 'src/graphql/queries/eventCategories.gql'
export default {
  components: {
    SportsmenGroupsTable: SportsmenGroupsTableComponent
  },
  mixins: [unknownError],
  // name: 'PageName',
  data () {
    return {
      selectedEvent: null,
      isSportsmanGroup: false,
      findString: '',
      sportsmanColumns: [
        {
          name: 'numberInCategory',
          required: true,
          label: '#',
          align: 'left',
          field: 'numberInCategory'
        },
        {
          name: 'lastName',
          required: true,
          label: 'Фамилия',
          align: 'left',
          field: 'lastName'
        },
        {
          name: 'firstName',
          required: true,
          label: 'Имя',
          align: 'left',
          field: 'firstName'
        },
        {
          name: 'year',
          required: true,
          label: 'Год р.',
          align: 'left',
          field: 'year'
        },
        {
          name: 'rank',
          required: true,
          label: 'Разряд (имеет)',
          align: 'left',
          field: 'rank'
        },
        {
          name: 'trainers',
          required: true,
          label: 'Тренеры',
          align: 'left',
          field: 'trainers'
        },
        // {
        //   name: 'country',
        //   required: true,
        //   label: 'Страна',
        //   align: 'left',
        //   field: row => row.country
        // },
        {
          name: 'region',
          required: true,
          label: 'Субъект РФ',
          align: 'left',
          field: row => row.region
        },
        {
          name: 'city',
          required: true,
          label: 'Город',
          align: 'left',
          field: row => row.city
        },
        {
          name: 'club',
          required: true,
          label: 'Клуб, школа',
          align: 'left',
          field: 'club'
        },
        {
          name: 'category',
          required: true,
          label: 'Категория (учавствует)',
          align: 'left',
          field: row => row.category?.name,
          readonly: true
        }
      ],
      sportsmanGroupColumns: [
        {
          name: 'numberInCategory',
          required: true,
          label: '#',
          align: 'left',
          field: 'numberInCategory'
        },
        {
          name: 'name',
          required: true,
          label: 'Название',
          align: 'left',
          field: 'name'
        },
        {
          name: 'trainers',
          required: true,
          label: 'Тренеры',
          align: 'left',
          field: 'trainers'
        },
        // {
        //   name: 'country',
        //   required: true,
        //   label: 'Страна',
        //   align: 'left',
        //   field: row => row.country
        // },
        {
          name: 'region',
          required: true,
          label: 'Субъект РФ',
          align: 'left',
          field: row => row.region
        },
        {
          name: 'city',
          required: true,
          label: 'Город',
          align: 'left',
          field: row => row.city
        },
        {
          name: 'club',
          required: true,
          label: 'Клуб, школа',
          align: 'left',
          field: 'club'
        },
        {
          name: 'category',
          required: true,
          label: 'Категория (учавствует)',
          align: 'left',
          field: row => row.category?.name,
          readonly: true
        }
      ]
    }
  },

  apollo: {
    eventCategories: {
      query: EVENT_CATEGORIES,
      variables () {
        return {
          where: {
            events: {
              some: {
                id: { equals: this.selectedEvent.id }
              }
            }
          }
        }
      },
      update: data => data.categories,
      error (error) {
        this.unknownError(error)
      },
      skip () {
        return !this.selectedEvent
      }
    }
  },
  computed: {
    participantsVariables () {
      const fieldsToSearchSportsman = ['lastName', 'firstName', 'trainers', 'club']
      const fieldsToSearchSportsmanGroup = ['name', 'trainers', 'club']
      const fieldsToSearchGeo = ['country', 'region', 'city']
      return {
        whereSportsman: {
          category: {
            events: {
              some: {
                id: {
                  equals: this.selectedEvent?.id
                }
              }
            }
          },
          OR: [
            ...fieldsToSearchSportsman.map(field => ({
              [field]: { contains: this.findString, mode: 'insensitive' }
            })),
            ...fieldsToSearchGeo.map(field => ({
              [field]: { name: { contains: this.findString, mode: 'insensitive' } }
            }))
          ],
          NOT: {
            sportsmanGroups: {
              some: {
                id: {
                  gt: -1
                }
              }
            }
          }
        },
        whereSportsmanGroup: {
          category: {
            events: {
              some: {
                id: {
                  equals: this.selectedEvent?.id
                }
              }
            }
          },
          OR: [
            ...fieldsToSearchSportsmanGroup.map(field => ({
              [field]: { contains: this.findString, mode: 'insensitive' }
            })),
            ...fieldsToSearchGeo.map(field => ({
              [field]: { name: { contains: this.findString, mode: 'insensitive' } }
            })),
            {
              sportsmen: {
                some: {
                  OR: [
                    ...fieldsToSearchSportsman.map(field => ({
                      [field]: { contains: this.findString, mode: 'insensitive' }
                    })),
                    ...fieldsToSearchGeo.map(field => ({
                      [field]: { name: { contains: this.findString, mode: 'insensitive' } }
                    }))
                  ]

                }
              }
            }
          ]
        }
      }
    }
  },
  methods: {
    eventsLoaded (result) {
      this.selectedEvent = result.data.events.find(event => event.state === 'OPENED')
    }
  }
}
</script>

<style>
</style>
