<template>
  <q-page padding>
    <q-list>
      <q-item-label header>
        Стартовый лист
      </q-item-label>
      <ApolloQuery
        :query="require('src/graphql/queries/allEvents.gql')"
        @error="unknownError"
        @result="eventsLoaded"
      >
        <template #default="{ result: { loading, error, data } }">
          <div v-if="error">
            Произошла ошибка {{ error }}
          </div>
          <template v-else>
            <export-config-form
              v-if="categories"
              :is-open.sync="isUpdateExportConfigOpened"
              :event="selectedEvent"
              :categories="categories"
              @done="isUpdateExportConfigOpened=false;$apollo.queries.categories.refetch()"
            />
            <q-item>
              <q-item-section>
                <q-select
                  v-model="selectedEvent"
                  label="Соревнование"
                  :loading="loading"
                  filled
                  :options="data ? data.events : []"
                  option-value="id"
                  option-label="name"
                />
              </q-item-section>
              <q-item-section side>
                <q-btn
                  flat
                  icon="settings"
                  @click="isUpdateExportConfigOpened=true"
                />
              </q-item-section>
            </q-item>
            <q-separator />

            <q-item>
              <q-item-section>
                <category-select
                  :multiple="isMultipleCategories"
                  :selected-categories.sync="selectedCategories"
                  :categories="categories"
                  :loading="$apollo.queries.categories.loading"
                />
              </q-item-section>
              <q-item-section side>
                <q-checkbox
                  v-model="isMultipleCategories"
                  label="Несколько"
                />
              </q-item-section>
            </q-item>
            <q-separator />

            <ApolloQuery
              v-if="selectedCategoriesIds.length > 0"
              :query="require('src/graphql/queries/resultsByCategory.gql')"
              :variables="{
                categoriesIds: selectedCategoriesIds
              }"
              fetch-policy="cache-and-network"
              notify-on-network-status-change
              @error="unknownError"
            >
              <template #default="{ result: { error, data, loading } }">
                <q-item>
                  <q-item-section>
                    <div v-if="error">
                      Произошла ошибка {{ error }}
                    </div>
                    <results-table
                      :sportsmen="data ? data.sportsmen : []"
                      :sportsman-groups="data ? data.sportsmanGroups : []"
                      :event="selectedEvent"
                      :category="selectedCategories[0]"
                      :loading="loading"
                      @individual-export-report="onIndividualExportReport"
                      @group-export-report="onGroupExportReport"
                      @group-short-export-report="onGroupShortExportReport"
                    />
                  </q-item-section>
                </q-item>
              </template>
            </ApolloQuery>
          </template>
        </template>
      </ApolloQuery>
    </q-list>
  </q-page>
</template>

<script>
import { exportFile } from 'quasar'
import unknownError from 'src/mixins/unknownError'
import ResultsTableComponent from 'src/components/results/resultsTable.vue'
import ExportConfigFormComponent from 'src/components/results/exportConfigForm'
import CategorySelectComponent from 'src/components/commons/categorySelect'
import EVENT_CATEGORIES from 'src/graphql/queries/eventCategories.gql'
export default {
  // name: 'PageName',
  components: {
    ResultsTable: ResultsTableComponent,
    ExportConfigForm: ExportConfigFormComponent,
    CategorySelect: CategorySelectComponent
  },
  mixins: [unknownError],
  data () {
    return {
      selectedEvent: null,
      isMultipleCategories: false,
      selectedCategories: [],
      isUpdateExportConfigOpened: false
    }
  },
  apollo: {
    categories: {
      query: EVENT_CATEGORIES,
      variables () {
        return {
          where: {
            events: {
              some: {
                id: { equals: this.selectedEvent.id }
              }
            }
          }
        }
      },
      error (error) {
        this.unknownError(error)
      },
      skip () {
        return !this.selectedEvent
      }
    }
  },
  computed: {
    selectedCategoriesIds () {
      return this.selectedCategories.map(category => category.id)
    }
  },
  methods: {
    eventsLoaded (result) {
      this.selectedEvent = result.data.events.find(
        event => event.state === 'OPENED'
      )
    },
    async onIndividualExportReport (data) {
      const response = await this.$axios.post('/jsreport/api/report', {
        template: { name: 'individual-result-template' },
        data,
        options: { reports: { save: true } }
      }, { responseType: 'blob' })
      exportFile(`${this.selectedCategories[0].name}.xlsx`, response.data)
    },
    async onGroupExportReport (data) {
      const response = await this.$axios.post('/jsreport/api/report', {
        template: { name: 'group-result-template' },
        data,
        options: { reports: { save: true } }
      }, { responseType: 'blob' })
      exportFile(`${this.selectedCategories[0].name}.xlsx`, response.data)
    },
    async onGroupShortExportReport (data) {
      const response = await this.$axios.post('/jsreport/api/report', {
        template: { name: 'short-group-result-template' },
        data,
        options: { reports: { save: true } }
      }, { responseType: 'blob' })
      exportFile(`${this.selectedCategories[0].name + ' сокр'}.xlsx`, response.data)
    }
  }
}
</script>

<style></style>
