<template>
  <q-page padding>
    <q-list>
      <q-item-label header>
        Стартовый лист
      </q-item-label>
      <ApolloQuery
        :query="require('src/graphql/queries/allEvents.gql')"
        @error="unknownError"
        @result="eventsLoaded"
      >
        <template #default="{ result: { loading, error, data } }">
          <div v-if="error">
            Произошла ошибка {{ error }}
          </div>
          <template v-else>
            <q-item>
              <q-item-section>
                <q-select
                  v-model="selectedEvent"
                  label="Соревнование"
                  :loading="loading"
                  filled
                  :options="data?data.events : []"
                  option-value="id"
                  option-label="name"
                />
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-select
                  v-if="selectedEvent"
                  v-model="selectedDay"
                  label="День"
                  :loading="loading"
                  filled
                  :options="selectedEvent.days"
                  option-value="id"
                  :option-label="opt=>formatDate(opt.date, 'DD.MM.YYYY')"
                  style="width:300px"
                />
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section side>
                <q-btn
                  :disabled="!selectedDay"
                  color="primary"
                  label="Скачать"
                  icon="cloud_download"
                  @click="onStartListExport"
                />
              </q-item-section>
            </q-item>
            <q-separator />
            <ApolloQuery
              v-if="selectedEvent && selectedDay"
              :query="require('src/graphql/queries/eventCategories.gql')"
              :variables="{where:{
                events:{
                  some:{
                    id: {equals:selectedEvent.id}
                  }
                }
              }}"
              @error="unknownError"
            >
              <template #default="{ result: { loading, error, data } }">
                <q-toggle
                  v-if="selectedEvent.isStartListByCities"
                  v-model="isStartListByCities"
                  label="По городам"
                  left-label
                />
                <template v-if="!selectedEvent.isStartListByCities || !isStartListByCities">
                  <q-item>
                    <q-item-section>
                      <div v-if="error">
                        Произошла ошибка {{ error }}
                      </div>
                      <mix-select
                        :categories="data?data.categories:[]"
                        :available-kinds-for-first-judge-panel="availableKindsForFirstJudgePanel"
                        :available-kinds-for-second-judge-panel="availableKindsForSecondJudgePanel"
                        :mix="mix"
                        :loading="loading"
                        :categories-of-first-judge-panel.sync="selectedCategoriesOfFirstJudgePanel"
                        :categories-of-second-judge-panel.sync="selectedCategoriesOfSecondJudgePanel"
                        :kinds-of-first-judge-panel.sync="selectedKindsOfFirstJudgePanel"
                        :kinds-of-second-judge-panel.sync="selectedKindsOfSecondJudgePanel"
                        @update:mix="mix=$event;previewRotationsSizes=$event==='NONE'?[null]:previewRotationsSizes"
                      />
                    </q-item-section>
                  </q-item>
                  <div class="row">
                    <div class="col">
                      <participants-in-categories-select
                        :categories="selectedCategoriesOfFirstJudgePanel"
                        :categories-with-participants.sync="categoriesWithSelectedParticipantsOfFirstJudgePanel"
                      />
                    </div>
                    <q-separator
                      v-if="mix==='BY_CATEGORIES'"
                      vertical
                    />
                    <div
                      v-if="mix==='BY_CATEGORIES'"
                      class="col-6"
                    >
                      <participants-in-categories-select
                        :categories="selectedCategoriesOfSecondJudgePanel"
                        :categories-with-participants.sync="categoriesWithSelectedParticipantsOfSecondJudgePanel"
                      />
                    </div>
                  </div>
                </template>
                <template v-else>
                  <by-cities
                    :event="selectedEvent"
                    @create="onRotationCreateByCities"
                  />
                </template>
              </template>
            </ApolloQuery>
          </template>
          <template v-if="selectedDay">
            <q-item>
              <q-item-section side>
                <q-checkbox
                  v-model="isCreateNewRotation"
                  label="Создать"
                />
              </q-item-section>
              <q-item-section v-if="!isCreateNewRotation">
                <q-select
                  ref="RotationSelect"
                  v-model="selectedRotationId"
                  emit-value
                  label="Ротация"
                  :loading="$apollo.queries.dayRotations.loading"
                  filled
                  :options="dayRotations"
                  option-value="id"
                  option-label="name"
                  map-options
                />
              </q-item-section>
              <template v-else>
                <q-item-section side>
                  <q-input
                    v-model="newRotationName"
                    style="min-width:500px"
                    autofocus
                    label="Название"
                    dense
                  />
                </q-item-section>
                <q-item-section side>
                  <q-input
                    v-model.number="newRotationNumber"
                    dense
                    label="Номер"
                    autofocus
                    type="number"
                    style="max-width:50px"
                    @keyup.enter="prompt = false"
                  />
                </q-item-section>
                <q-item-section side>
                  <div>
                    {{ previewRotationsSizes.length }}
                    Потоки
                    <q-btn
                      icon="ion-remove"
                      dense
                      round
                      class="q-ml-md"
                      @click="previewRotationsSizes.length===1?previewRotationsSizes.splice(0,1,null):previewRotationsSizes.splice(previewRotationsSizes.length-1,1)"
                    />
                    <q-btn
                      icon="ion-add"
                      dense
                      round
                      class="q-ml-md"
                      @click="previewRotationsSizes.push(null)"
                    />
                  </div>
                </q-item-section>
                <q-item-section
                  v-for="(rotationSize,i) in previewRotationsSizes"
                  :key="i"
                  side
                >
                  <q-input
                    v-model="previewRotationsSizes[i]"
                    dense
                    :label="i+1+''"
                    type="number"
                    style="max-width:40px"
                    @keyup.enter="prompt = false"
                  />
                </q-item-section>
              </template>
              <q-item-label>
                Вторая панель судей
                <q-checkbox v-model="isJudgePanelTwo" />
              </q-item-label>
            </q-item>
            <template v-if="!selectedEvent.isStartListByCities || !isStartListByCities">
              <q-item
                v-for="rotation in previewRotations"
                :key="rotation.id"
              >
                <q-item-section>
                  <rotation
                    :rotation="rotation"
                    :kinds="allKinds"
                    :all-categories="eventCategories"
                    @set-rotation-number="openDialogSetRotationNumber"
                    @next="reorderRotation(rotation, rotation.mainNumber+1)"
                    @prev="reorderRotation(rotation, rotation.mainNumber-1)"
                    @rotation-delete="onRotationDelete"
                  />
                </q-item-section>
              </q-item>
              <q-item>
                <q-btn
                  color="primary"
                  label="Добавить"
                  @click="onRotationsAdd()"
                />
              </q-item>
            </template>
            <q-separator spaced />
            <q-item
              v-for="rotation in dayRotations"
              :key="!rotationIdsToReRender.includes(rotation.id)?rotation.id:`${rotation.id}-rerender`"
            >
              <q-item-section>
                <rotation
                  :rotation="rotation"
                  :kinds="allKinds"
                  :all-categories="eventCategories"
                  :dragged-row.sync="draggedRow"
                  :rotation-dragged-to.sync="rotationDraggedTo"
                  :rotation-dragged-from.sync="rotationDraggedFrom"
                  :drop-zone-row-id.sync="dropZoneRowId"
                  :rows-for-print-dragged-to.sync="rowsForPrintDraggedTo"
                  @on-performance-drag-end="onPerformanceDragEnd"
                  @on-performance-create="onPerformanceCreate"
                  @set-rotation-number="openDialogSetRotationNumber"
                  @next="reorderRotation(rotation, rotation.mainNumber+1)"
                  @prev="reorderRotation(rotation, rotation.mainNumber-1)"
                  @rotation-delete="onRotationDelete"
                />
              </q-item-section>
            </q-item>
          </template>
        </template>
      </ApolloQuery>
    </q-list>

    <q-dialog
      v-model="reorderRotationDialog.isShow"
      persistent
    >
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">
            Изменить номер ротации {{ reorderRotationDialog.selectedRotation.name }} с {{ reorderRotationDialog.selectedRotation.mainNumber }} на:
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
            v-model="reorderRotationDialog.newNumber"
            dense
            autofocus
            type="number"
            @keyup.enter="prompt = false"
          />

          <div class="q-gutter-sm">
            <q-radio
              v-model="reorderRotationDialog.isSwap"
              :val="false"
              label="Сместить все после"
            />
          </div>

          <div class="q-gutter-sm">
            <q-radio
              v-model="reorderRotationDialog.isSwap"
              :val="true"
              label="Поменять местами"
            />
          </div>
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            v-close-popup
            flat
            label="Отмена"
          />
          <q-btn
            v-close-popup
            flat
            label="Изменить"
            @click="reorderRotation(reorderRotationDialog.selectedRotation, reorderRotationDialog.newNumber, reorderRotationDialog.isSwap)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog
      v-if="addPerformanceDialog.isShow"
      v-model="addPerformanceDialog.isShow"
      persistent
    >
      <q-card style="min-width: 350px">
        <q-card-section>
          <div class="text-h6">
            Добавить выступление {{ addPerformanceDialog.participant.name || (addPerformanceDialog.participant.lastName + ' ' + addPerformanceDialog.participant.firstName) }}
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-select
            v-model="addPerformanceDialog.kind"
            style="width:70px"
            :options="addPerformanceDialog.availableKinds"
            map-options
            emit-value
            option-label="name"
            option-value="id"
            options-dense
            borderless
            hide-bottom-space
            dense
          />

          <q-option-group
            v-model="addPerformanceDialog.judgePanel"
            :options="judgePanelOptions"
            type="radio"
            inline
            dense
          />
        </q-card-section>

        <q-card-actions
          align="right"
          class="text-primary"
        >
          <q-btn
            v-close-popup
            flat
            label="Отмена"
          />
          <q-btn
            v-close-popup
            flat
            label="Изменить"
            @click="addPerformanceToRotation()"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import RotationComponent from 'src/components/startLists/rotation'
import unknownError from 'src/mixins/unknownError'
import REORDER_SPORTSMEN_GROUPS_IN_ROTATION from 'src/graphql/mutations/updateSportsmenGroupsOrderInRotation.gql'
import REORDER_ROTATION from 'src/graphql/mutations/reorderRotation.gql'
import REORDER_PERFORMANCES from 'src/graphql/mutations/reorderPerformances.gql'
import DELETE_ROTATION from 'src/graphql/mutations/deleteRotation.gql'
import ADD_PERFORMANCES_TO_ROTATION from 'src/graphql/mutations/addPerformancesToRotation.gql'
import CREATE_ROTATIONS from 'src/graphql/mutations/createRotations.gql'
import DAY_ROTATIONS from 'src/graphql/queries/dayRotations.gql'
import ALL_KINDS from 'src/graphql/queries/allKinds.gql'
import EVENT_CATEGORIES from 'src/graphql/queries/eventCategories.gql'
import MixSelectComponent from 'src/components/startLists/mixSelect'
import ParticipantsInCategoriesSelectComponent from 'src/components/startLists/participantsInCategoriesSelect'
import ByCitiesComponent from 'src/components/startLists/byCities'
import { date, extend, exportFile } from 'quasar'
import { rowsForPrint } from 'src/utils/startListPrintFormat'
// destructuring to keep only what is needed
const { formatDate } = date
export default {
  components: {
    Rotation: RotationComponent,
    MixSelect: MixSelectComponent,
    ParticipantsInCategoriesSelect: ParticipantsInCategoriesSelectComponent,
    ByCities: ByCitiesComponent
  },
  mixins: [unknownError],
  data () {
    return {
      reorderRotationDialog: {
        isShow: false,
        newNumber: null,
        isSwap: false,
        selectedRotation: {}
      },
      addPerformanceDialog: {
        isShow: false,
        rotation: null,
        participant: null,
        kind: null,
        nextPerformance: null,
        subRotation: null,
        judgePanel: 'PANEL_1'
      },
      judgePanelOptions: [
        {
          label: '1',
          value: 'PANEL_1'
        },
        {
          label: '2',
          value: 'PANEL_2'
        }
      ],
      newRotationName: 'Новая ротация',
      newRotationNumber: 1,
      previewRotationsSizes: [null],
      selectedEvent: null,
      selectedDay: null,
      selectedCategories: [],
      selectedKind: null,
      selectedRotationId: null,
      selectedSportsmenGroups: [],
      isJudgePanelTwo: false,
      isCreateNewRotation: true,
      selectedCategoriesOfFirstJudgePanel: [],
      selectedCategoriesOfSecondJudgePanel: [],
      selectedKindsOfFirstJudgePanel: [],
      selectedKindsOfSecondJudgePanel: [],
      mix: 'NONE',
      categoriesWithSelectedParticipantsOfFirstJudgePanel: [],
      categoriesWithSelectedParticipantsOfSecondJudgePanel: [],
      draggedRow: null,
      rotationDraggedTo: null,
      rotationDraggedFrom: null,
      dropZoneRowId: null,
      rowsForPrintDraggedTo: [],
      rotationIdsToReRender: [],
      isStartListByCities: true
    }
  },

  apollo: {
    dayRotations: {
      query: DAY_ROTATIONS,
      variables () {
        return this.dayRotationsVariables
      },
      update: data => data.rotations,
      error (error) {
        this.unknownError(error)
      },
      result (ApolloQueryResult, key) {
        this.newRotationNumber = this.dayRotations.reduce((maxRotationNumber, rotation) => Math.max(maxRotationNumber, rotation.mainNumber), 1) + 1
      },
      skip () {
        return !this.selectedDay
      }
    },
    allKinds: {
      query: ALL_KINDS,
      update: data => data.kinds,
      error (error) {
        this.unknownError(error)
      },
      skip () {
        return !this.selectedEvent || !this.selectedDay
      }
    },
    eventCategories: {
      query: EVENT_CATEGORIES,
      variables () {
        return {
          where: {
            events: {
              some: {
                id: { equals: this.selectedEvent.id }
              }
            }
          }
        }
      },
      update: data => data.categories,
      error (error) {
        this.unknownError(error)
      },
      skip () {
        return !this.selectedEvent
      }
    }
  },
  computed: {

    selectedRotation () {
      return this.dayRotations.find(({ id }) => id === this.selectedRotationId) ?? null
    },
    dayRotationsVariables () {
      return {
        where: {
          day: {
            id: {
              equals: this.selectedDay.id
            }
          }
        }
      }
    },
    availableKindsForFirstJudgePanel () {
      return [
        ...this.selectedCategoriesOfFirstJudgePanel.reduce((kinds, category) => [
          ...kinds,
          ...category.kinds.filter(kind => !kinds.some(k => k.id === kind.id))
        ], [])
      ]
    },
    availableKindsForSecondJudgePanel () {
      return [
        ...this.selectedCategoriesOfSecondJudgePanel.reduce((kinds, category) => [
          ...kinds,
          ...category.kinds.filter(kind => !kinds.some(k => k.id === kind.id))
        ], [])
      ]
    },
    variablesCreateRotations () {
      if (this.isCreateNewRotation) {
        const rotationsToCreate = this.previewRotations.map((rotation, i) => ({
          mainNumber: this.newRotationNumber + i,
          name: rotation.name,
          day: {
            connect: {
              id: rotation.day.id
            }
          },
          subRotations: {
            create: rotation.subRotations.map(subRotation => ({
              performances: {
                create: subRotation.performances.map(performance => this.formatPerformanceToCreate(rotation, performance))
              }
            }))
          }

        }))
        return {
          data: rotationsToCreate
        }
      } else {
        const rotationToUpdate = this.previewRotations[0]
        const maxMainNumberInRotationToUpdate = this.selectedRotation.subRotations
          .reduce((maxMainNumber, subRotation) =>
            Math.max(
              maxMainNumber,
              subRotation.performances.reduce((maxMainNumber, performance) => Math.max(performance.mainNumber, maxMainNumber), maxMainNumber)
            )
          , 0)
        return {
          where: {
            id: this.selectedRotation.id
          },
          data: {
            subRotations: {
              update: rotationToUpdate.subRotations.map((subRotation, i) => ({
                where: {
                  id: this.selectedRotation.subRotations[i].id
                },
                data: {
                  performances: {
                    create: subRotation.performances.map((performance, i) => this.formatPerformanceToCreate(this.selectedRotation, {
                      ...performance,
                      mainNumber: maxMainNumberInRotationToUpdate + i + 1
                    }))
                  }
                }
              }))
            }

          }
        }
      }
    },
    previewRotations () {
      const settings = {
        categoriesOfFirstJudgePanel: this.selectedCategoriesOfFirstJudgePanel,
        categoriesOfSecondJudgePanel: this.selectedCategoriesOfSecondJudgePanel,
        kindsOfFirstJudgePanel: this.selectedKindsOfFirstJudgePanel,
        kindsOfSecondJudgePanel: this.selectedKindsOfSecondJudgePanel,
        mix: this.mix

      }
      let rotations = [{
        id: '1-preview',
        name: this.newRotationName,
        mainNumber: 1,
        day: this.selectedDay,
        ...settings,
        subRotations: []
      }]
      if (this.categoriesWithSelectedParticipantsOfFirstJudgePanel.length === 0 || this.selectedKindsOfFirstJudgePanel.length === 0) {
        return rotations
      }
      const categoriesWithSelectedParticipantsOfFirstJudgePanel = extend(true, [], this.categoriesWithSelectedParticipantsOfFirstJudgePanel)
      const categoriesWithSelectedParticipantsOfSecondJudgePanel = extend(true, [], this.categoriesWithSelectedParticipantsOfSecondJudgePanel)

      const mix = this.mix
      const judgePanel1 = {
        categoriesWithSelectedParticipants: categoriesWithSelectedParticipantsOfFirstJudgePanel,
        kinds: this.selectedKindsOfFirstJudgePanel
      }
      const judgePanel2 = {
        categoriesWithSelectedParticipants: categoriesWithSelectedParticipantsOfSecondJudgePanel,
        kinds: this.selectedKindsOfSecondJudgePanel
      }
      const rotationSizes = this.previewRotationsSizes
      const preparePerformance = (id, mainNumber, numberInRotation, judgePanel, participant, kind) => ({
        id,
        mainNumber,
        numberInRotation,
        judgePanel,
        [participant.category.type === 'GROUP' ? 'sportsmanGroup' : 'sportsman']: participant,
        kind,
        score: {}
      })
      const spliceSubRotations = (subRotations, rotationSize) =>
        subRotations.map(subRotation => ({
          ...subRotation,
          performances: subRotation.performances.splice(0, rotationSize === null ? subRotation.performances.length : rotationSize)
        }))
      if (mix === 'NONE') {
        const subRotations = judgePanel1.kinds.reduce((subRotations, kind, kindIndex) => {
          const participants = judgePanel1.categoriesWithSelectedParticipants[0]?.participants ?? []
          return [
            ...subRotations,
            {
              performances: participants.map((participant, i) => {
                const index = subRotations.reduce((index, subRotation) => (index + subRotation.performances.length), i + 1)
                return preparePerformance(
                  `${judgePanel1.categoriesWithSelectedParticipants[0].id}-${index}-preview`,
                  index,
                  index,
                  'PANEL_1',
                  participant,
                  kind
                )
              })

            }
          ]
        }, [])
        rotations = rotationSizes.reduce((rotations, rotationSize, i) => {
          return [...rotations, {
            id: i + '-preview',
            name: `${this.newRotationName}${this.previewRotationsSizes.length > 1 ? ` ${i + 1} Поток` : ''} `,
            mainNumber: i + 1,
            day: this.selectedDay,
            ...settings,
            subRotations: spliceSubRotations(subRotations, rotationSize)
          }]
        }, [])
        return rotations
      }
      if (mix === 'BY_KINDS' && judgePanel1.kinds.length > 0 && judgePanel2.kinds.length > 0) {
        const isOptimizeJudgePanels = true
        const kinds = [judgePanel1.kinds[0], judgePanel2.kinds[0]]
        if (judgePanel1.kinds.length === 2 && judgePanel2.kinds.length === 2) {
          kinds.push(judgePanel1.kinds[1], judgePanel2.kinds[1])
        }
        rotations = rotationSizes.reduce((rotations, rotationSize, rotationIndex) => {
          const participants = judgePanel1.categoriesWithSelectedParticipants[0]?.participants.splice(0, rotationSize === null ? judgePanel1.categoriesWithSelectedParticipants[0].participants.length : rotationSize) ?? []
          const subRotations = kinds.reduce((subRotations, kind, kindIndex) => {
            const isKindOfFirstJudgePanel = kindIndex % 2 === 0
            let isFirstJudgePanelStarts = isKindOfFirstJudgePanel
            if (isOptimizeJudgePanels && rotationIndex > 0) {
              const prevRotation = rotations[rotationIndex - 1]
              const prevRotationSubRotation = prevRotation.subRotations[prevRotation.subRotations.length - 1]
              const prevRotationPerformance = prevRotationSubRotation.performances[prevRotationSubRotation.performances.length - 1]
              if (prevRotationPerformance?.judgePanel === 'PANEL_1') {
                isFirstJudgePanelStarts = kindIndex % 2 === 1
              }
            }
            return [...subRotations, {
              performances: participants.reduce((performances, participant, participantIndex) => {
                const isParticipantIndexEven = participantIndex % 2 === 0
                const index = subRotations.reduce((index, subRotation) => (index + subRotation.performances.length), performances.length + 1)

                const isFirstJudgePanel = (isFirstJudgePanelStarts && isParticipantIndexEven) || (!isFirstJudgePanelStarts && !isParticipantIndexEven)

                let currentKindIndex = isFirstJudgePanelStarts ? participantIndex % 2 : (1 - participantIndex % 2)
                if (kindIndex > 1) {
                  currentKindIndex += 2
                }
                return [
                  ...performances,
                  preparePerformance(
                    `${judgePanel1.categoriesWithSelectedParticipants[0].id}-${index}-preview`,
                    index,
                    index,
                    `PANEL_${isFirstJudgePanel ? 1 : 2}`,
                    participant,
                    kinds[currentKindIndex]
                  )
                ]
              }, [])
            }]
          }, [])
          return [...rotations, {
            id: rotationIndex + '-preview',
            name: `${this.newRotationName}${this.previewRotationsSizes.length > 1 ? ` ${rotationIndex + 1} Поток` : ''} `,
            mainNumber: rotationIndex + 1,
            day: this.selectedDay,
            ...settings,
            subRotations
          }]
        }, [])
        return rotations
      }
      if (mix === 'BY_CATEGORIES' && judgePanel1.kinds.length > 0 && judgePanel2.kinds.length > 0) {
        const preparePerformances = (categoriesWithSelectedParticipants, kinds, judgePanel) =>
          categoriesWithSelectedParticipants.reduce((performances, category, categoryIndex) => {
            const kind = kinds[Math.min(kinds.length - 1, categoryIndex)]
            return [...performances, ...category.participants.map((participant, i) =>
              preparePerformance(
                `${category.id}-${i}-preview`,
                performances.length + i + 1,
                i + 1,
                judgePanel,
                participant,
                kind
              )
            )]
          }, [])

        const performances1 = preparePerformances(judgePanel1.categoriesWithSelectedParticipants, judgePanel1.kinds, 'PANEL_1')
        const performances2 = preparePerformances(judgePanel2.categoriesWithSelectedParticipants, judgePanel2.kinds, 'PANEL_2')

        const subRotations = [{
          performances: [
            ...performances1.reduce((performances, performance1) => {
              performances.push(performance1)
              if (performances2.length > 0) {
                performances.push(performances2.splice(0, 1)[0])
              }

              return performances
            }, []),
            ...performances2
          ]
        }]
        rotations = rotationSizes.reduce((rotations, rotationSize, i) => {
          return [...rotations, {
            id: i + '-preview',
            name: `${this.newRotationName}${this.previewRotationsSizes.length > 1 ? ` ${i + 1} Поток` : ''} `,
            mainNumber: i + 1,
            day: this.selectedDay,
            ...settings,
            subRotations: spliceSubRotations(subRotations, rotationSize)
          }]
        }, [])
        return rotations
      }
      return rotations
    }
  },
  methods: {
    isSelectedCategorySportsmanGroups (category) {
      return category.type === 'GROUP'
    },
    formatPerformanceToCreate (rotation, performance) {
      return {
        mainNumber: performance.mainNumber,
        numberInRotation: performance.numberInRotation,
        judgePanel: performance.judgePanel,
        kind: {
          connect: {
            id: performance.kind.id
          }
        },
        day: {
          connect: {
            id: rotation.day.id
          }
        },
        score: {
          create: {

          }
        },
        sportsmanGroup: performance.sportsmanGroup
          ? {
              connect: {
                id: performance.sportsmanGroup.id
              }
            }
          : undefined,
        sportsman: performance.sportsman
          ? {
              connect: {
                id: performance.sportsman.id
              }
            }
          : undefined

      }
    },
    async onDragEnd (rotations, rotation, { order }) {
      const toUpdate = []
      order.forEach((id, i) => {
        const performance = rotation.performances.find(performance => performance.id === id)
        const numberInRotation = i + 1
        if (performance.numberInRotation !== numberInRotation) {
          let performanceMainNumber = 0
          rotations.forEach(({ mainNumber, performances }) => {
            if (mainNumber < rotation.mainNumber) {
              performanceMainNumber += performances.length
            }
          })
          performanceMainNumber += numberInRotation
          toUpdate.push({ where: { id }, data: { numberInRotation: { set: numberInRotation }, mainNumber: { set: performanceMainNumber } } })
        }
      })
      await this.$apollo.mutate({
        mutation: REORDER_SPORTSMEN_GROUPS_IN_ROTATION,
        variables: {
          where: {
            id: rotation.id
          },
          data: {
            performances: {
              update: toUpdate
            }
          }
        }
      })
    },
    async onPerformanceDragEnd (reorderArgs) {
      const isSame = reorderArgs.every(arg => arg.performanceId === arg.nextPerformanceId)
      if (!isSame) {
        await this.$apollo.mutate({
          mutation: REORDER_PERFORMANCES,
          variables: {
            where: reorderArgs
          }
        })
      }
      const rotationIdsToReRender = this.rotationDraggedTo.id === this.rotationDraggedFrom.id
        ? [this.rotationDraggedFrom?.id]
        : [this.rotationDraggedTo?.id, this.rotationDraggedFrom?.id]
      this.rotationIdsToReRender = rotationIdsToReRender.filter(id => !this.rotationIdsToReRender.includes(id))
    },

    openDialogSetRotationNumber (rotation) {
      this.reorderRotationDialog.newNumber = rotation.mainNumber
      this.reorderRotationDialog.isShow = true
      this.reorderRotationDialog.selectedRotation = rotation
    },
    async reorderRotation (rotation, newNumber, isSwap = false) {
      if (newNumber < 1) {
        newNumber = 1
      }
      try {
        await this.$apollo.mutate({
          mutation: REORDER_ROTATION,
          variables: {
            rotationId: rotation.id,
            newNumber: parseInt(newNumber),
            isSwap
          },
          update: (cache, { data: { reorderRotation } }) => {
            if (reorderRotation.length > 0) {
              cache.writeQuery({
                query: DAY_ROTATIONS,
                data: {
                  rotations: reorderRotation
                },
                variables: this.dayRotationsVariables
              })
            }
          }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    eventsLoaded (result) {
      this.selectedEvent = result.data.events.find(event => event.state === 'OPENED')
      this.selectedDay = this.selectedEvent.days ? this.selectedEvent.days[0] : null
    },
    formatDate (date, format) {
      return formatDate(date, format, {
        months: ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'],
        days: ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота'],
        daysShort: 'Вс_Пн_Вт_Ср_Чт_Пт_Сб'.split('_'),
        monthsShort: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
        firstDayOfWeek: 1, // 0-6, 0 - Sunday, 1 Monday, ...
        format24h: true,
        pluralDay: 'дней'
      })
    },
    async onRotationsAdd () {
      try {
        await this.$apollo.mutate({
          mutation: this.isCreateNewRotation ? CREATE_ROTATIONS : ADD_PERFORMANCES_TO_ROTATION,
          variables: this.variablesCreateRotations,
          update: (cache, { data: { createRotations } }) => {
            if (createRotations?.length > 0) {
              this.updateDayRotationsCache(createRotations)
            }
          }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    async onRotationCreateByCities (subRotations) {
      try {
        const rotation = {
          day: this.selectedDay,
          subRotations
        }
        await this.$apollo.mutate({
          mutation: CREATE_ROTATIONS,
          variables: {
            data: [{
              mainNumber: this.newRotationNumber,
              name: this.newRotationName,
              day: {
                connect: {
                  id: rotation.day.id
                }
              },
              subRotations: {
                create: rotation.subRotations.map(subRotation => ({
                  performances: {
                    create: subRotation.performances.map(performance => this.formatPerformanceToCreate(rotation, performance))
                  }
                }))
              }

            }]
          },
          update: (cache, { data: { createRotations } }) => {
            if (createRotations?.length > 0) {
              this.updateDayRotationsCache(createRotations)
            }
          }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    async onPerformanceCreate ({
      rotation,
      participant,
      nextPerformance,
      subRotation,
      availableKinds

    }) {
      this.addPerformanceDialog = {
        isShow: true,
        rotation,
        participant,
        kind: null,
        nextPerformance,
        subRotation,
        judgePanel: 'PANEL_1',
        availableKinds
      }
    },
    async addPerformanceToRotation () {
      try {
        const isGroup = this.addPerformanceDialog.participant.category.type === 'GROUP'
        const maxNumberInRotationToUpdate = this.addPerformanceDialog.rotation.subRotations
          .reduce((maxNumberInRotation, subRotation) =>
            Math.max(
              maxNumberInRotation,
              subRotation.performances.reduce((maxNumberInRotation, performance) => Math.max(performance.numberInRotation, maxNumberInRotation), maxNumberInRotation)
            )
          , 0)

        const numberInRotation = this.addPerformanceDialog.nextPerformance ? (this.addPerformanceDialog.nextPerformance.numberInRotation - 1) : maxNumberInRotationToUpdate
        await this.$apollo.mutate({
          mutation: ADD_PERFORMANCES_TO_ROTATION,
          variables: {
            where: {
              id: this.addPerformanceDialog.rotation.id
            },
            data: {
              subRotations: {
                update: {
                  where: {
                    id: this.addPerformanceDialog.subRotation.id
                  },
                  data: {
                    performances: {
                      create: this.formatPerformanceToCreate(this.addPerformanceDialog.rotation, {

                        [isGroup ? 'sportsmanGroup' : 'sportsman']: this.addPerformanceDialog.participant,
                        numberInRotation,
                        mainNumber: 0,
                        judgePanel: this.addPerformanceDialog.judgePanel,
                        kind: {
                          id: this.addPerformanceDialog.kind
                        }
                      })
                    }
                  }
                }
              }

            }
          }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    async onRotationDelete (rotation) {
      this.$q.dialog({
        title: `Удалить ротацию ${rotation.name}, все её выступления и их оценки?`,
        cancel: true,
        'no-focus': true
      }).onOk(async () => {
        try {
          await this.$apollo.mutate({
            mutation: DELETE_ROTATION,
            variables: {
              where: {
                id: rotation.id
              }
            },
            update: (cache, { data: { deleteRotation } }) => {
              this.updateDayRotationsCache(deleteRotation)
            }
          })
        } catch (error) {
          this.unknownError(error)
        }
      })
    },
    updateDayRotationsCache (newDayRotations) {
      this.$apollo.getClient().cache.writeQuery({
        query: DAY_ROTATIONS,
        data: {
          rotations: newDayRotations
        },
        variables: this.dayRotationsVariables
      })
    },
    async onStartListExport () {
      const data = {
        competitionLabel: this.selectedEvent.name,
        locationLabel: `г. ${this.selectedEvent.city.name}, ${this.selectedEvent.region.name}`,
        dateLabel: this.selectedEvent.defaultExportConfig.dateLabel,
        startListLabel: `Стартовый лист ${this.formatDate(this.selectedDay.date, 'DD MMMM dddd')}`,
        isFooter: false,
        hiddenColumns: [],
        rowPerformancesMaxCount: this.dayRotations.reduce((rowPerformancesMaxCount, rotation) =>
          Math.max(rowPerformancesMaxCount, rotation.subRotations.length)
        , 0),
        columns: {
          name: {
            maxLength: 23
          },
          yearCategory: {
            maxLength: 10
          },
          region: {
            maxLength: 22
          },
          city: {
            maxLength: 16
          },
          club: {
            maxLength: 56
          },
          trainers: {
            maxLength: 23
          }
        },
        rotations: this.dayRotations.map(rotation => ({
          ...rotation,
          rows: rowsForPrint(rotation, this.eventCategories)
        }))

      }
      const response = await this.$axios.post('/jsreport/api/report', {
        template: { name: 'start-list' },
        data,
        options: { reports: { save: true } }
      }, { responseType: 'blob' })
      exportFile('Стартовый.xlsx', response.data)
    }
  }
}
</script>

<style>
</style>
