<template>
  <div>
    <q-option-group
      :value="mix"
      :options="mixOptions"
      color="primary"
      inline
      @input="onMixChange"
    />
    <div
      class="row"
      style="min-height:100px"
    >
      <div class="col">
        <category-select
          class="q-ma-sm"
          :multiple="mix==='BY_CATEGORIES'"
          use-chips
          :individual-group-separate="false"
          :selected-categories="categoriesOfFirstJudgePanel"
          :categories="categories"
          style="min-width:250px"
          @update:selected-categories="selectedCategories=>$emit('update:categories-of-first-judge-panel', selectedCategories)"
        />
      </div>
      <q-separator
        v-if="mix==='BY_CATEGORIES'"
        vertical
      />
      <div
        v-if="mix==='BY_CATEGORIES'"
        class="col"
      >
        <category-select
          class="q-ma-sm"
          multiple
          use-chips
          :individual-group-separate="false"
          :selected-categories="categoriesOfSecondJudgePanel"
          :categories="categories"
          style="min-width:250px"
          @update:selected-categories="selectedCategories=>$emit('update:categories-of-second-judge-panel', selectedCategories)"
        />
      </div>
    </div>
    <div
      class="row"
      style="min-height:100px"
    >
      <div class="col">
        <q-select
          :value="kindsOfFirstJudgePanel"
          class="q-ma-sm"
          multiple
          use-chips
          :max-values="mix==='BY_CATEGORIES'?categoriesOfFirstJudgePanel.length:4"
          label="Виды"
          filled
          :options="availableKindsForFirstJudgePanel"
          option-value="id"
          option-label="name"
          style="min-width:250px"
          @input="newValue=>$emit('update:kinds-of-first-judge-panel', newValue)"
        />
      </div>
      <q-separator
        v-if="mix==='BY_KINDS' || mix==='BY_CATEGORIES'"
        vertical
      />
      <div
        v-if="mix==='BY_KINDS' || mix==='BY_CATEGORIES'"
        class="col"
      >
        <q-select
          :value="kindsOfSecondJudgePanel"
          class="q-ma-sm"
          multiple
          use-chips
          :max-values="mix==='BY_CATEGORIES'?categoriesOfSecondJudgePanel.length:4"
          label="Виды"
          filled
          :options="mix==='BY_KINDS'?availableKindsForFirstJudgePanel:availableKindsForSecondJudgePanel"
          option-value="id"
          option-label="name"
          style="min-width:250px"
          @input="newValue=>$emit('update:kinds-of-second-judge-panel', newValue)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import CategorySelectComponent from 'src/components/commons/categorySelect'
export default {
  components: {
    CategorySelect: CategorySelectComponent
  },
  props: {
    categoriesOfFirstJudgePanel: {
      type: Array,
      default: () => []
    },
    categoriesOfSecondJudgePanel: {
      type: Array,
      default: () => []
    },
    kindsOfFirstJudgePanel: {
      type: Array,
      default: () => []
    },
    kindsOfSecondJudgePanel: {
      type: Array,
      default: () => []
    },
    mix: {
      type: String,
      default: null
    },
    categories: {
      type: Array,
      default: () => []
    },
    availableKindsForFirstJudgePanel: {
      type: Array,
      default: () => []
    },
    availableKindsForSecondJudgePanel: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {

      mixOptions: [
        {
          label: 'Без вертушки',
          value: 'NONE'
        },
        {
          label: 'Вертушка по возрастам',
          value: 'BY_CATEGORIES'
        },
        {
          label: 'Вертушка по видам',
          value: 'BY_KINDS'
        }
      ]
    }
  },
  methods: {
    onMixChange (newMix) {
      if (newMix === 'NONE') {
        this.$emit('update:categories-of-first-judge-panel', this.categoriesOfFirstJudgePanel.slice(0, 1))
        this.$emit('update:categories-of-second-judge-panel', [])
        this.$emit('update:kinds-of-first-judge-panel', this.kindsOfFirstJudgePanel.slice(0, 2).filter(kind => kind))
        this.$emit('update:kinds-of-second-judge-panel', [])
      }
      if (newMix === 'BY_CATEGORIES') {
        this.$emit('update:kinds-of-first-judge-panel', [])
        this.$emit('update:kinds-of-second-judge-panel', [])
      }
      if (newMix === 'BY_KINDS') {
        this.$emit('update:categories-of-first-judge-panel', this.categoriesOfFirstJudgePanel.slice(0, 1))
        this.$emit('update:categories-of-second-judge-panel', [])
        this.$emit('update:kinds-of-first-judge-panel', this.kindsOfFirstJudgePanel.slice(0, 1))
        this.$emit('update:kinds-of-second-judge-panel', this.kindsOfSecondJudgePanel.slice(0, 1))
      }
      this.$emit('update:mix', newMix)
    }

  }
}
</script>

<style></style>
