<template>
  <div>
    <ApolloQuery
      v-for="category in categories"
      :key="category.id"
      :query="require('src/graphql/queries/categorySportsmenGroups.gql')"
      :variables="{where:{id:category.id}}"
      fetch-policy="cache-and-network"
      @error="unknownError"
      @result="onCategoryLoaded"
    >
      <template #default="{ result: { data } }">
        <q-expansion-item
          v-if="data"
          expand-separator
          :label="data.category.name"
          :caption="`${getSelectedParticipants(data.category).length}/${getParticipants(data.category).length}`"
        >
          <sportsmen-groups-table
            :data="getParticipants(data.category)"
            selection="multiple"
            :selected="getSelectedParticipants(data.category)"
            :is-sportsman-groups="data.category.type === 'GROUP'"
            @update:selected="onParticipantsSelect(data.category, $event)"
          />
        </q-expansion-item>
      </template>
    </ApolloQuery>
  </div>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import SportsmenGroupsTableComponent from 'src/components/commons/sportsmenGroupsTable.vue'
export default {
  components: {
    SportsmenGroupsTable: SportsmenGroupsTableComponent
  },
  mixins: [unknownError],
  props: {
    categories: {
      type: Array,
      default: () => []
    },
    categoriesWithParticipants: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      categoriesWithSelectedParticipants: []
    }
  },
  computed: {
  },
  watch: {
    categories: {
      immediate: true,
      // deep: true,
      handler (newValue, oldValue) {
        this.categoriesWithSelectedParticipants = newValue.map(category => ({
          ...category,
          participants: this.categoriesWithSelectedParticipants.find(({ id }) => id === category.id)?.participants ?? this.getParticipants(category) ?? []
        }))
        this.$emit('update:categories-with-participants', this.categoriesWithSelectedParticipants)
      }
    }
  },
  methods: {
    getParticipants (category) {
      return category.type === 'GROUP' ? category.sportsmanGroups : category.sportsmen
    },
    getSelectedParticipants (category) {
      return this.categoriesWithSelectedParticipants.find(({ id }) => id === category.id)?.participants ?? []
    },
    onParticipantsSelect (category, participants) {
      const index = this.categoriesWithSelectedParticipants.findIndex(({ id }) => id === category.id)
      if (index > -1) {
        this.categoriesWithSelectedParticipants.splice(index, 1, { ...category, participants: [...participants].sort((p1, p2) => p1.numberInCategory - p2.numberInCategory) })
      }
      this.$emit('update:categories-with-participants', this.categoriesWithSelectedParticipants)
    },
    onCategoryLoaded (result) {
      if (result.data) {
        this.onParticipantsSelect(result.data.category, this.getParticipants(result.data.category))
      }
    }

  }
}
</script>

<style></style>
