<template>
  <q-card :id="`rotation-${rotation.id}`">
    <q-card-section>
      <q-item>
        <q-item-section side>
          <q-item-label>
            <q-btn
              :label="rotation.mainNumber"
              size="xs"
              @click="$emit('set-rotation-number', rotation)"
            />

            <q-btn
              size="xs"
              icon="keyboard_arrow_up"
              @click="$emit('prev', rotation)"
            />
            <q-btn
              size="xs"
              icon="keyboard_arrow_down"
              @click="$emit('next', rotation)"
            />
          </q-item-label>
        </q-item-section>
        <q-item-section>
          <ApolloMutation
            :mutation="require('src/graphql/mutations/updateRotation.gql')"
            @error="unknownError"
          >
            <template #default="{ mutate, loading: mutationLoading }">
              <q-item-label header>
                {{ rotation.name }}

                <q-popup-edit
                  v-model="rotationNewName"
                  buttons
                  @before-show="evt=>rotationNewName=rotation.name"
                  @save="value=>mutate({variables:variablesUpdateRotationName})"
                >
                  <q-input
                    v-model="rotationNewName"
                    :loading="mutationLoading"
                    dense
                    autofocus
                  />
                </q-popup-edit>
              </q-item-label>
            </template>
          </ApolloMutation>
        </q-item-section>
        <q-item-section
          v-if="rowsForPrint.length>0"
          side
        >
          <q-item-label>
            <q-btn
              :outline="isEdit"
              icon="edit"
              size="xs"
              @click="isEdit=!isEdit"
            />
          </q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-item-label>
            <q-btn
              color="red"
              icon="delete"
              size="xs"
              @click="$emit('rotation-delete',rotation)"
            />
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-card-section>
    <q-separator />
    <q-card-section>
      <ApolloMutation
        :mutation="require('src/graphql/mutations/updatePerformance.gql')"
        @error="unknownError"
      >
        <template #default="{ mutate}">
          <q-markup-table
            v-if="rowsForPrint.length>0"
            class="no-shadow"
          >
            <thead class="text-left">
              <tr>
                <!-- <q-th auto-width>
                  <q-checkbox
                    :value="selectedPerformances.length===rotation.performances.length"
                    @input="value=>value?selectedPerformances=rotation.performances:selectedPerformances=[]"
                  />
                  <q-btn
                    color="red"
                    icon="delete"
                    size="xs"
                    :disable="selectedPerformances.length===0"
                    @click="deletePerformances"
                  />
                </q-th> -->
                <th>
                  #
                </th>
                <th>
                  Участник
                </th>
                <th>
                  Категория
                </th>
                <th style="width:100%">
                  Выход
                </th>
                <!-- <th>
                  Судейская панель
                </th> -->
                <!-- <th>
                  Балл
                </th> -->
                <!-- <th style="width:100%">
                  id участника
                </th> -->
              </tr>
            </thead>
            <tbody ref="tbody">
              <template v-for="(row, rowIndex) in rowsForPrint">
                <tr
                  v-if="draggedRow && rotationDraggedTo && rotationDraggedTo.id === rotation.id && dropZoneRowId===rowIndex"
                  :key="rowIndex+'drop-zone-up'"
                  clickable
                  class="drop-zone-up bg-blue-1"
                >
                  <td>
                    <q-btn
                      unelevated
                      padding="none"
                      class="invisible"
                      icon="drag_indicator"
                    />
                    -
                  </td>
                  <td>
                    {{ formatParticipant(draggedRow.participant) }}
                  </td>
                  <td>
                    {{ (draggedRow.participant && draggedRow.participant.category)?draggedRow.participant.category.name:'-' }}
                  </td>
                  <td class="draggable-row-td-drop-zone">
                    <q-chip
                      v-for="(performance, performanceIndex) in (rotation.subRotations.length-1)"
                      :key="performanceIndex"
                      style="width:200px"
                      class="q-p-none draggable-performance transparent"
                    >
                      <q-space />
                    </q-chip>
                  </td>
                  <!-- <td>
                    {{ draggedRow.participant.id }}
                  </td> -->
                </tr>
                <tr
                  :key="rowIndex"
                  :data-rowId="rowIndex"
                  clickable
                  class="draggable-row"
                  @dragenter="onDragEnter($event,rowIndex)"
                >
                  <!-- <q-td auto-width>
                  <q-checkbox
                    :value="selectedPerformances.some(p=>p.id===performance.id)"
                    @input="value=>value?selectedPerformances.push(performance):(selectedPerformances=selectedPerformances.filter(p=>p.id!==performance.id))"
                  />
                </q-td> -->
                  <td>
                    <q-btn
                      v-if="isEdit"
                      unelevated
                      padding="none"
                      color="red"
                      icon="delete"
                      @click="deletePerformances(row.performances)"
                    />
                    <q-btn
                      unelevated
                      padding="none"
                      class="handle-row"
                      icon="drag_indicator"
                    />
                    {{ rowIndex+1 }}
                  </td>
                  <td>
                    {{ formatParticipant(row.participant) }}
                  </td>
                  <td>
                    {{ (row.participant && row.participant.category)?row.participant.category.name:'' }}
                  </td>
                  <td
                    class="draggable-row-td"
                    :data-rowId="rowIndex"
                  >
                    <q-chip
                      v-for="(performance, performanceIndex) in row.performances"
                      :key="performanceIndex"
                      :class="{transparent:!performance}"
                      style="width:200px"
                      class="q-p-none draggable-performance"
                    >
                      <div
                        v-if="!performance"
                        class="col text-center"
                      >
                        <q-btn
                          unelevated
                          icon="add"
                          text-color="blue-grey-3"
                          @click="onPerformanceCreate(rowIndex,performanceIndex)"
                        />
                      </div>
                      <template v-else>
                        <q-avatar
                          :color="performance.judgePanel === 'PANEL_1'?'primary':'secondary'"
                          text-color="white"
                          class="cursor-pointer"
                        >
                          {{ performance.judgePanel === 'PANEL_1'?1:2 }}

                          <q-popup-edit
                            :value="performance.judgePanel"
                            @input="value=>onPerformanceJudgePanelUpdate(performance.id,value)"
                          >
                            <template #default="{ emitValue, set}">
                              <q-option-group
                                :value="performance.judgePanel"
                                :options="judgePanelOptions"
                                type="radio"
                                inline
                                dense
                                @input="emitValue($event); set()"
                              />
                            </template>
                          </q-popup-edit>
                        </q-avatar>
                        <q-select
                          v-if="performance.kind"
                          style="width:70px"
                          :value="performance.kind.id"
                          :options="row.availableKinds"
                          map-options
                          emit-value
                          option-label="name"
                          option-value="id"
                          options-dense
                          borderless
                          hide-bottom-space
                          dense
                          @input="value=>onPerformanceUpdate({field:'kind',value, id:performance.id}, mutate)"
                        />
                        <template v-if="isEdit">
                          {{ performance.numberInRotation }}
                        </template>
                        <q-space />

                        <q-chip
                          v-if="performance.score.finalScore>0"
                          color="green-2"
                          :label="formatScore(performance.score.finalScore)"
                        />

                        <q-btn
                          v-if="isEdit"
                          unelevated
                          padding="none"
                          color="red"
                          icon="delete"
                          @click="deletePerformances([performance])"
                        />
                        <q-btn
                          v-if="performance"
                          unelevated
                          padding="none"
                          class="handle-performance"
                          icon="drag_indicator"
                        />
                      </template>
                    </q-chip>
                  </td>
                  <!-- <td>
                  <q-select
                    :value="performance.judgePanel"
                    :options="judgePanelOptions"
                    map-options
                    emit-value
                    options-dense
                    borderless
                    hide-bottom-space
                    dense
                    @input="value=>onPerformanceUpdate({field:'judgePanel',value, id:performance.id}, mutate)"
                  />
                </td> -->
                  <!-- <td>
                  <q-chip
                    v-if="performance.score.finalScore>0"
                    color="green-2"
                    :label="performance.score.finalScore"
                  />
                </td> -->
                  <!-- <td>
                    {{ row.participant.id }}
                  </td> -->
                </tr>

                <tr
                  v-if="(rowIndex === rowsForPrint.length-1) && draggedRow && rotationDraggedTo && rotationDraggedTo.id === rotation.id && dropZoneRowId===rowIndex"
                  :key="rowIndex+'drop-zone-down'"
                  class="drop-zone-down bg-blue-1"
                  clickable
                >
                  <td>
                    <q-btn
                      unelevated
                      padding="none"
                      class="invisible"
                      icon="drag_indicator"
                    />
                    -
                  </td>
                  <td>
                    {{ formatParticipant(draggedRow.participant) }}
                  </td>
                  <td>
                    {{ (draggedRow.participant && draggedRow.participant.category)?draggedRow.participant.category.name:'' }}
                  </td>
                  <td class="draggable-row-td-drop-zone">
                    <q-chip
                      v-for="(performance, performanceIndex) in (rotation.subRotations.length-1)"
                      :key="performanceIndex"
                      style="width:150px"
                      class="q-p-none draggable-performance transparent"
                    >
                      <q-space />
                    </q-chip>
                  </td>
                  <!-- <td>
                    {{ draggedRow.participant.id }}
                  </td> -->
                </tr>
              </template>
            </tbody>
          </q-markup-table>
          <div
            v-else
            class="text-center text-h4"
          >
            {{ rotation.name }}
          </div>
        </template>
      </ApolloMutation>
    </q-card-section>
  </q-card>
</template>

<script>
import { Sortable } from 'sortablejs/modular/sortable.core.esm'

import unknownError from 'src/mixins/unknownError'
import DELETE_PERFORMANCES from 'src/graphql/mutations/deletePerformances.gql'
import CHANGE_PERFORMANCE_JUDGE_PANEL from 'src/graphql/mutations/changePerformanceJudgePanel.gql'
import { rowsForPrint } from 'src/utils/startListPrintFormat'
import { formatScore } from 'src/utils/dataFormat'
export default {
  mixins: [unknownError],
  props: {
    rotation: {
      type: Object,
      default: () => null
    },
    kinds: {
      type: Array,
      default: () => []
    },
    allCategories: {
      type: Array,
      default: () => []
    },
    dropZoneRowId: {
      type: Number,
      default: () => null
    },
    draggedRow: {
      type: Object,
      default: () => null
    },
    rotationDraggedTo: {
      type: Object,
      default: () => null
    },
    rotationDraggedFrom: {
      type: Object,
      default: () => null
    },
    rowsForPrintDraggedTo: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      rotationNewName: '',
      isEdit: false,
      judgePanelOptions: [
        {
          label: '1',
          value: 'PANEL_1'
        },
        {
          label: '2',
          value: 'PANEL_2'
        }
      ],
      selectedPerformances: [],
      sortablePerformances: [],
      sortableTBody: null,
      dropZoneSortable: []
    }
  },
  computed: {
    variablesUpdateRotationName () {
      return {
        where: {
          id: this.rotation.id
        },
        data: {
          name: { set: this.rotationNewName }
        }
      }
    },
    rowsForPrint () {
      return rowsForPrint(this.rotation, this.allCategories)
    }
  },
  mounted () {
    if (this.rowsForPrint.length > 0) {
      this.sortablePerformances = Array.prototype.map.call(this.$refs.tbody.querySelectorAll('.draggable-row-td'), el => Sortable.create(el, {

        // group: 'performances',

        group: {
          name: 'performances',
          pull: 'clone', // To clone: set pull to 'clone',
          put: false
        },
        sort: false,
        draggable: '.draggable-performance',
        animation: 150,
        handle: '.handle-performance',

        onChoose: (evt) => {
          const rowId = evt.from.getAttribute('data-rowId')
          this.$emit('update:dragged-row', this.rowsForPrint[parseInt(rowId)])
          this.$emit('update:rotation-dragged-to', this.rotation)
          this.$emit('update:rows-for-print-dragged-to', this.rowsForPrint)
          this.$emit('update:rotation-dragged-from', this.rotation)
        },
        onUnchoose: (e) => {
          this.$emit('update:drop-zone-row-id', null)
        },
        onEnd: (e) => {
          const isSame = e.from.isEqualNode(e.to)
          const subRotationToId = this.rotationDraggedTo.subRotations[e.newIndex].id
          const isInsertBelow = e.to.parentNode.classList.contains('drop-zone-down')
          const performanceId = this.draggedRow.performances[e.oldIndex].id
          const nextPerformanceId = isSame
            ? performanceId
            : (this.rowsForPrintDraggedTo
                .slice(isInsertBelow ? this.dropZoneRowId + 1 : this.dropZoneRowId)
                .find(row => row.performances[e.newIndex])?.performances[e.newIndex]?.id ?? null)

          this.$emit('update:dragged-row', null)
          this.$emit('update:drop-zone-row-id', null)
          this.$emit('on-performance-drag-end', [{
            performanceId,
            subRotationToId,
            nextPerformanceId
          }])
        },
        onClone: (e) => {
          e.clone.style.opacity = 0.5
        }
      }))
      this.sortableTBody = Sortable.create(this.$refs.tbody, {

        group: {
          name: 'rows'

        },
        draggable: '.draggable-row',
        animation: 150,
        handle: '.handle-row',
        onChoose: (evt) => {
          const rowId = evt.item.getAttribute('data-rowId')
          this.$emit('update:dragged-row', this.rowsForPrint[parseInt(rowId)])
          this.$emit('update:rotation-dragged-to', this.rotation)
          this.$emit('update:rows-for-print-dragged-to', this.rowsForPrint)
          this.$emit('update:rotation-dragged-from', this.rotation)
        },
        onEnd: (e) => {
          this.$nextTick(_ => {
            const isSameRotation = this.rotationDraggedFrom.id === this.rotationDraggedTo.id
            const reorderArgs = this.rotationDraggedTo.subRotations.reduce((reorderArgs, subRotation, i) =>
              this.draggedRow.performances[i]
                ? [...reorderArgs, {
                    performanceId: this.draggedRow.performances[i].id,
                    subRotationToId: subRotation.id,
                    nextPerformanceId: (
                      (isSameRotation && e.newIndex > e.oldIndex)
                        ? this.rowsForPrintDraggedTo.filter((_, i) => i !== e.newIndex)
                        : this.rowsForPrintDraggedTo
                    )[e.newIndex]?.performances[i]?.id
                  }]
                : reorderArgs, []
            )
            this.$emit('on-performance-drag-end', reorderArgs)
          })
        },

        onAdd: (e) => {
          this.$emit('update:rotation-dragged-to', this.rotation)
          this.$emit('update:rows-for-print-dragged-to', this.rowsForPrint)
        }

      })
    }
  },
  methods: {
    formatScore (score) {
      return formatScore(score)
    },
    onDragEnter (e, index) {
      const draggablePerformanceClass = 'draggable-row-td'
      if (e.fromElement?.classList.contains(draggablePerformanceClass)) {
        if (this.dropZoneRowId === index && this.rotation.id === this.rotationDraggedTo.id) {
          return
        }
        this.$emit('update:drop-zone-row-id', index)
        this.$emit('update:rotation-dragged-to', this.rotation)
        this.$emit('update:rows-for-print-dragged-to', this.rowsForPrint)

        if (this.dropZoneSortable) {
          delete this.dropZoneSortable
        }
        this.$nextTick(() => {
          const el = this.$refs.tbody.querySelector('.draggable-row-td-drop-zone')
          if (!el) {
            console.log('el not finded')
            return
          }

          this.dropZoneSortable = Array.prototype.map.call(this.$refs.tbody.querySelectorAll('.draggable-row-td-drop-zone'), el => Sortable.create(el, {

            group: {
              name: 'performances-drop-zone',
              // pull: 'clone', // To clone: set pull to 'clone',
              put: ['performances']
            },
            draggable: '.draggable-performance',
            // animation: 150,
            handle: '.handle-performance'
          }))
        })
      } else if (this.rowsForPrint.length - 1 !== index) {
        this.$emit('update:drop-zone-row-id', null)
      }
    },
    formatPerformance ({ sportsman, sportsmanGroup }) {
      return sportsman ? `${sportsman.lastName ? sportsman.lastName : ''} ${sportsman.firstName ? sportsman.firstName : ''}` : `${sportsmanGroup.name}`
    },
    formatParticipant (participant) {
      if (!participant) {
        return 'Отсутствует'
      }
      const { lastName, firstName, name } = participant
      return name ?? `${lastName ?? ''} ${firstName ?? ''}`
    },
    async onPerformanceUpdate ({ value, field, id }, mutate) {
      const data = {}
      if (field === 'kind') {
        data[field] = { connect: { id: value } }
      } else {
        data[field] = value
      }
      await mutate({
        variables: {
          where: {
            id: id
          },
          data
        }
      })
    },
    async onPerformanceJudgePanelUpdate (performanceId, judgePanel) {
      try {
        await this.$apollo.mutate({
          mutation: CHANGE_PERFORMANCE_JUDGE_PANEL,
          variables: {
            performanceId,
            judgePanel
          }
        })
      } catch (error) {
        this.unknownError(error)
      }
    },
    onPerformanceCreate (rowIndex, performanceIndex) {
      const row = this.rowsForPrint[rowIndex]
      const participant = row.participant
      const nextPerformance = this.rowsForPrint.filter((row, i) => i > rowIndex && row.performances[performanceIndex])[0]?.performances[performanceIndex]
      const subRotation = this.rotation.subRotations[performanceIndex]
      this.$emit('on-performance-create', {
        rotation: this.rotation,
        participant,
        nextPerformance,
        subRotation,
        availableKinds: row.availableKinds

      })
    },
    deletePerformances (performances) {
      this.$q.dialog({
        title: 'Удалить выделенные выступления?',
        cancel: true,
        'no-focus': true
      }).onOk(async () => {
        const performancesToDeleteIds = performances.map((performance) => performance?.id).filter(id => id)
        await this.$apollo.mutate({
          mutation: DELETE_PERFORMANCES,
          variables: {
            where: {
              id: {
                in: performancesToDeleteIds
              }
            }
          }
        })
      })
    }
  }
}
</script>

<style>
.sortable-ghost {
  background-color: #f19a9a;
}
.sortable-chosen {
  background-color: #a8f19a;
}
.sortable-drag {
  background-color: blueviolet;
}
</style>
