<template>
  <q-dialog
    :value="isOpen"
    full-width
    persistent
    @input="value=>$emit('update:is-open',value)"
    @hide="$emit('hide')"
    @show="$emit('show')"
    @update:is-open="value => $emit('update:is-open', value)"
  >
    <q-card class="col-auto">
      <q-card-section>
        <div class="text-h6">
          Изменить настройки экспорта
        </div>
      </q-card-section>

      <q-card-section>
        <q-form
          class="q-gutter-md"
          @submit="update()"
        >
          <q-input
            v-model="eventData.name"
            filled
            label="Название соревнования"
          />
          <q-input
            v-model="eventData.defaultExportConfig.dateLabel"
            filled
            label="Дата"
          />
          <q-input
            v-model="eventData.defaultExportConfig.mainJudgeLabel"
            filled
            label="Подпись главного судьи"
          />
          <q-input
            v-model="eventData.defaultExportConfig.mainSecretaryLabel"
            filled
            label="Подпись главного секретаря"
          />
          <q-checkbox
            v-model="eventData.defaultExportConfig.footer"
            label="Подпись в колонтитуле"
          />
          <q-field
            label="Скрыть:"
            stack-label
            filled
          >
            <template #control>
              <q-option-group
                v-model="eventData.defaultExportConfig.hiddenColumns"
                :options="hiddenColumnsOptions"
                type="checkbox"
                color="primary"
                inline
                dense
              />
            </template>
          </q-field>

          <q-expansion-item
            expand-separator
            label="Номинации"
            caption="Нажмите, чтобы раскрыть"
          >
            <q-table
              :data="categories"
              :columns="categoriesColumns"
              row-key="id"
              dense
              flat
            >
              <template #body="props">
                <q-tr :props="props">
                  <q-td
                    key="name"
                    auto-width
                    :props="props"
                  >
                    {{ props.row.name }}
                  </q-td>
                  <q-td
                    key="type"
                    auto-width
                    :props="props"
                  >
                    {{ props.row.type === 'INDIVIDUAL' ? 'инд.' : 'групп.' }}
                  </q-td>
                  <q-td
                    key="exportLabel"
                    :props="props"
                  >
                    <q-input
                      v-model="props.row.exportLabel"
                      dense
                      autofocus
                      counter
                    />
                  </q-td>
                </q-tr>
              </template>
            </q-table>
          </q-expansion-item>
          <div>
            <q-btn
              label="Ок"
              :disable="$apollo.loading"
              type="submit"
              color="primary"
            />
            <q-btn
              v-close-popup
              :disable="$apollo.loading"
              label="Отмена"
              color="primary"
              flat
              class="q-ml-sm"
            />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import unknownError from 'src/mixins/unknownError'
import UPDATE_EVENT from 'src/graphql/mutations/updateEvent.gql'
import formatForUpdate from 'src/mixins/formatForUpdate'
export default {
  mixins: [unknownError, formatForUpdate],
  props: {
    isOpen: {
      type: Boolean,
      default: false
    },
    event: {
      type: Object,
      default: null
    },
    categories: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      eventData: {
        name: '',
        defaultExportConfig: {
          dateLabel: '',
          mainJudgeLabel: '',
          mainSecretaryLabel: '',
          footer: '',
          hiddenColumns: []
        }
      },
      isUpdating: false,
      hiddenColumnsOptions: [
        {
          label: 'Год',
          value: 'year'
        },
        {
          label: 'Разряд',
          value: 'rank'
        },
        {
          label: 'Субъект РФ',
          value: 'region'
        },
        {
          label: 'Город',
          value: 'city'
        },
        {
          label: 'Организация',
          value: 'club'
        }
      ],

      categoriesColumns: [
        {
          name: 'name',
          label: 'Название',
          align: 'left'
        },
        {
          name: 'type',
          label: 'Инд/групп',
          align: 'left'
        },
        {
          name: 'exportLabel',
          label: 'В результатах'
        }
      ]
    }
  },
  created () {
    if (this.event) {
      this.eventData.name = this.event.name
      this.eventData.defaultExportConfig = {
        dateLabel: this.event.defaultExportConfig.dateLabel,
        mainJudgeLabel: this.event.defaultExportConfig.mainJudgeLabel,
        mainSecretaryLabel: this.event.defaultExportConfig.mainSecretaryLabel,
        footer: this.event.defaultExportConfig.footer,
        hiddenColumns: this.event.defaultExportConfig.hiddenColumns
      }
    }
  },
  methods: {
    async update () {
      try {
        this.isUpdating = true
        await this.$apollo.mutate({
          mutation: UPDATE_EVENT,
          variables: {
            data: {
              ...this.formatForUpdate({
                name: this.eventData.name
              }),
              defaultExportConfig: {
                update: {
                  ...this.formatForUpdate(this.eventData.defaultExportConfig),
                  hiddenColumns: {
                    set: this.eventData.defaultExportConfig.hiddenColumns
                  }
                }
              },

              categories: {
                update: this.categories.map(category => ({
                  where: {
                    id: category.id
                  },
                  data: {
                    exportLabel: {
                      set: category.exportLabel
                    }
                  }
                }))
              }

            },
            where: {
              id: this.event.id
            }
          }
        })
        this.isUpdating = false
        this.$emit('done')
      } catch (error) {
        this.unknownError(error)
      }
      this.isUpdating = false
    }
  }
}
</script>

<style></style>
